[2020-03-31 18:40] samreid opened #1 "Master Checklist"
Not a typical sim or project, but this issue is reserved for a master checklist, if we ever have one.

[2020-03-31 18:53] samreid opened #2 "Copy all Java simulations into the repo"
By inspecting the body of https://phet.colorado.edu/en/simulations, I identified this list of Java and Flash simulations that are on our website:

# Java sims
alpha-decay
balloons-and-buoyancy
band-structure
battery-resistor-circuit
battery-voltage
beta-decay
build-a-molecule
capacitor-lab
circuit-construction-kit-ac
circuit-construction-kit-ac-virtual-lab
collision-lab
conductivity
davisson-germe

[2020-03-31 18:56] samreid opened #3 "Should the Java simulations be optimized and rebuilt?"
By rebuilding the Java simulations from source, we would be able to remove several unused features, such as MongoDB adatper, SimSharingManager, some items from the Menus, etc.  This could reduce the download and startup time.  It is unclear how much we stand to gain, but I wanted to start this issue to write up notes and ideas as we proceed.  Our first trial will just use the existing JAR files fr

[2020-03-31 19:01] samreid commented on #2
Eventually, we would like to use the multi-language "all" jars, but I'm not sure if we will also want to use those for the initial feasibility test.  Also, we may want to rebuild the sims from source in #3.

[2020-03-31 19:05] samreid opened #4 "Deploy a batch of converted sims for QA dev testing"
We would like to deploy a batch of converted sims for QA testing.  Some discussion on slack:

Sam Reid
We would like to run a batch conversion of our remaining Java simulations to HTML5 using CheerpJ so that we may QA dev test them to look for bugs and problems.  I’m planning to set up a public repo, populate it with our unported Java sim JAR files, and check in the ported versions.  I’ll make the

[2020-03-31 19:07] samreid commented on #2
@mattpen pointed out the all jars are located like so:

http://phet.colorado.edu/sims/nuclear-physics/nuclear-physics_all.jar

@pixelzoom pointed out the language code is specified like so:

Example: java -Djavaws.user.language="fr" -jar nuclear-physics_all.jar
javaws.user.country if you need a specific country code.

[2020-03-31 19:38] samreid commented on #2
Sims are organized by project, it will be simpler, easier, faster if we can leverage the "all" jars as much as possible. Here's the list organized by project:

[code]

[2020-03-31 19:40] pixelzoom commented on #2
A couple of things to add to https://github.com/phetsims/cheerpj/issues/2#issuecomment-606816490...

(1) locale = language + country

A locale typically consists of a language and a country.  To specify country, use
`-Djavaws.user.country`.

(2) class-path for main

all.js files for projects with multiple flavors display a dialog to select the flavor (sim) to run.  For example: `java -Djavaws.user

[2020-03-31 19:42] samreid commented on #2
Here's a list of the unique projects:

[code]

[2020-03-31 19:47] pixelzoom commented on #2
A few things to add to https://github.com/phetsims/cheerpj/issues/2#issuecomment-606816490...

(1) locale = language + country

A locale sometimes consists of a language code and a country code.  To specify country code, use
`-Djavaws.user.country`.  For example, for Simplified Chinese (zh_CN):

`java -Djavaws.user.language="zh" -Djavaws.user.country="CN" -cp nuclear-physics_all.jar edu.colorado.p

[2020-03-31 20:32] samreid commented on #2
I added all of the all JAR files, one per project.  Closing, though I know I'll have to refer to https://github.com/phetsims/cheerpj/issues/2#issuecomment-606837121 in upcoming work.

[2020-03-31 20:32] #2 closed

[2020-03-31 20:33] samreid commented on #3
I'm seeing more cruft, like tests that probably don't need to be converted/download/decoded/etc

[code]

[2020-03-31 20:49] samreid opened #5 "Make it possible to launch a single sim from a multi-sim JAR"
For example, I converted the "Faraday" "all" jar, and it shows this dialog on startup:

![image](https://user-images.githubusercontent.com/679486/78073666-8db83080-735e-11ea-8ae7-932c0340cc77.png)

This will be sufficient for testing, but eventually we will need to know how to launch a single simulation from a multi-sim jar file.  That will be simpler and more streamlined than converting one jar p

[2020-03-31 20:50] samreid opened #6 "Make it possible to launch multiple languages from the "all" JAR"
In https://github.com/phetsims/cheerpj/issues/2#issuecomment-606837121, @pixelzoom describes how to set the Java System properties to launch in a different locale.  We should test this out.

[2020-03-31 21:13] samreid opened #7 "Eliminate some simulations"
@kathy-phet said we can omit the following simulations:

* ESP
* CCK:AC
* Density
* Build a Molecule

[2020-03-31 21:49] samreid opened #8 "Rename repo"
In slack, we agreed that "cheerpj" is not an appropriate repo name.  @pixelzoom proposed we go with "decaf" and there was general agreement.

[2020-03-31 23:06] samreid opened #9 "AffineTransformOp filter fails"
This bug is present in:
* https://phet-dev.colorado.edu/decaf/moving-man/1.0.0-dev.2/
* https://phet-dev.colorado.edu/decaf/lasers/1.0.0-dev.2/
* https://phet-dev.colorado.edu/decaf/battery-voltage/1.0.0-dev.2/
* https://phet-dev.colorado.edu/decaf/discharge-lamps/1.0.0-dev.2/
* https://phet-dev.colorado.edu/decaf/fluid-pressure-and-flow/1.0.0-dev.2/
* https://phet-dev.colorado.edu/decaf/photoelec

[2020-03-31 23:12] samreid opened #10 "Eliminate the "software agreement" page which appears on startup."
It appears on the first run on a device, but not the second.  I don't know if it is using localstorage or something else.

[2020-03-31 23:18] samreid opened #11 "Plate Tectonics fails on startup"
Error is:

[code]

This sim uses native LWJGL extensions and may not be practical to use CheerpJ.

[2020-03-31 23:26] samreid opened #12 "Simulation "windows" can get lost"
For instance, running Radio Waves on a small chromebook, the full play area is not visible, and if you cannot see the bottom right corner of the application, it cannot be resized.

[2020-03-31 23:29] samreid opened #13 "Sugar and Salt Solutions: glyph not found"
I see a box indicating a glyph was not found in the 3rd screen of Sugar and Salt Solutions:

![image](https://user-images.githubusercontent.com/679486/78084350-2e194f80-7375-11ea-87a1-a4965cb618ab.png)

[2020-03-31 23:30] samreid commented on #4
I deployed a batch here: https://phet-dev.colorado.edu/decaf/

[2020-03-31 23:31] samreid commented on #4
This batch seems sufficient for a first pass of testing, closing.

[2020-03-31 23:31] #4 closed

[2020-03-31 23:36] samreid commented on #7
I removed 3 simulations and noted that "density" was a flash simulation.   Closing.

[2020-03-31 23:36] #7 closed

[2020-03-31 23:37] samreid commented on #3
Likely rebuilding them would be the best way to eliminate the software agreement dialog that shows on startup, see #10

[2020-03-31 23:41] samreid opened #14 "Sound: crashes on startup"
Error is:

[code]

[2020-04-01 01:44] samreid commented on #5
I tried:

[code]

And it correctly launched the "Faraday's Electromagnetic Lab" simulation from this Jar file.  However, when I converted:

[code]

to
[code]

Startup failed with this error:

![image](https://user-images.githubusercontent.com/679486/78090614-d6381400-7387-11ea-96cc-8a6b36090ab8.png)

and

![image](https://user-images.githubusercontent.com/679486/78090629-e2bc6c80-7387-11ea-9d20-8c

[2020-04-01 01:53] samreid commented on #5
In https://github.com/phetsims/decaf/commit/ddfd29f129c8819f82bffbbb9bc06f7305a5979b I added a html file that specifies this main.  To test it, please update it to point to the correct local path after "app" (note my path has "main").

[2020-04-01 02:01] samreid commented on #6
By the following steps:

[code]

The sim launches in zh_CN (after pressing "Start"):

![image](https://user-images.githubusercontent.com/679486/78091317-ae49b000-7389-11ea-843c-53d8b9c77891.png)

In the CheerpJ HTML, I tried the following:

[code]
and

it worked, but seems to be missing some glyphs:

![image](https://user-images.githubusercontent.com/679486/78091518-4d6ea780-738a-11ea-9902-f38487f

[2020-04-01 03:15] samreid commented on #6
We should put the locale as a query parameter so that we only need 1 html file per project.

[2020-04-01 03:17] samreid opened #15 "QA Testing"
Placeholder for https://github.com/phetsims/QA/issues/489

[2020-04-01 03:36] samreid commented on #5
I also tried stripping out the MANIFEST directory, and had the same problem.

[2020-04-01 04:13] samreid commented on #3
Depending on https://github.com/phetsims/decaf/issues/5#issuecomment-607008240 we may wish to add "flavor" main as application arguments.

[2020-04-01 17:38] KatieWoe commented on #10
If you Exit this dialog (either with the exit button or the x) rather than agree, the sim crashes. Found on Firefox, not limited to that platform. Adding bug tag due to this.
![softwareagreement](https://user-images.githubusercontent.com/41024075/78168467-37ee9180-740d-11ea-8405-541fa8f93fe5.gif)

[2020-04-01 17:58] KatieWoe opened #16 "Sims may not load in incognito mode"
Found in https://phet-dev.colorado.edu/decaf/battery-resistor-circuit/1.0.0-dev.14/ in Firefox.
The sim does not load when in incognito mode. It does load in incognito mode in Chrome. Will be updating issue with other platform status. To be clear, it does load on non-incognito Firefox.
![mainisstarting](https://user-images.githubusercontent.com/41024075/78170330-088d5400-7410-11ea-9887-5caf0e81613

[2020-04-01 18:04] KatieWoe commented on #16
IE gets caught on a slightly different part of the loading process, but still has the problem.

[2020-04-01 18:47] KatieWoe opened #17 "Safari Text can look odd/corrupted"
Found in https://phet-dev.colorado.edu/decaf/battery-resistor-circuit/1.0.0-dev.14/
In both Mac 10.15 Safari and iPadOS 13 Safari. Some of the letters in the sim look odd, blur together, or blocky, though not all. This does not seem to happen in Chrome on the same Mac device. Most noticeable in the loading image (but it was hard to get a screenshot of).
<img width="394" alt="Screen Shot 2020-04-01

[2020-04-01 19:16] KatieWoe opened #18 "Battery Voltage won't load"
For https://phet-dev.colorado.edu/decaf/battery-voltage/1.0.0-dev.2/
Not dependent on platform. Recorded in Firefox. The Battery Voltage sim brings up the sim's loading bar that freezes part way through and produces the bellow error.
![batteryvoltageerror](https://user-images.githubusercontent.com/41024075/78177177-efd66b80-741a-11ea-9cd2-cf8dea71d2f1.gif)
![errors](https://user-images.githubuserc

[2020-04-01 20:00] KatieWoe opened #19 "Eating and Exercise Slow when running"
For https://phet-dev.colorado.edu/decaf/eating-and-exercise/1.0.0-dev.2/
On Firefox.  When you have the sim pause, you can drag and interact normally. However, when play has been hit everything lags, including the play pause button. The sliders to control the figure are laggy even before pressing play.
![lageat](https://user-images.githubusercontent.com/41024075/78181101-0f709280-7421-11ea-95fb-b5

[2020-04-01 20:04] KatieWoe commented on #18
Duplicate of https://github.com/phetsims/decaf/issues/9

[2020-04-01 20:04] #18 closed

[2020-04-01 20:20] KatieWoe commented on #19
May also produce the odd behavior of the line when changing the graph scaling.
![chunckygraph](https://user-images.githubusercontent.com/41024075/78182674-e7366300-7423-11ea-8bdc-16cfcd9606a7.gif)

[2020-04-01 20:40] loganbraywork opened #20 "Fourier performance issues"
For https://github.com/phetsims/QA/issues/489

Sim is extremely slow when tested on both my lower performance Windows 10 Laptop and a higher performance Windows 10 PC. Load time took about 2 minutes on the Laptop and 1 minute on the PC. Clicking the sound button usually causes a massive slowdown, usually of up to 3 minutes on the PC and a full page crash on the Laptop.
![2020-04-01DecafFourier](ht

[2020-04-01 20:54] KatieWoe opened #21 "General Performance Issues"
For https://phet-dev.colorado.edu/decaf/conductivity/1.0.0-dev.2/. Linking to https://github.com/phetsims/QA/issues/489.

**Original Issue**
On Chromebook. There is minor lag in Conductivity, but it doesn't seem to impact it terribly. Mostly seen in the photons from the flashlight and the electrons in the close up of the material.

[2020-04-01 21:07] KatieWoe commented on #9
Same error occurring in Fluid Pressure and Flow (but not Under Pressure)
![Image from iOS](https://user-images.githubusercontent.com/41024075/78186567-2ebfed80-742a-11ea-9587-73229fc4ff30.jpg)

[2020-04-01 21:08] loganbraywork opened #22 "Reactions & Rates fails to load"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/reactions-and-rates/1.0.0-dev.2/

Reactions & Rates fails to load on Windows Firefox, Chrome, & Edge. When tested on a higher performance PC the sim still fails to load.

![2020-04-01DecafReactions Rates](https://user-images.githubusercontent.com/54685448/78186803-970ecf00-742a-11ea-9d33-5d9941795482.gif)

[2020-04-01 21:19] KatieWoe commented on #21
Making this an issue for general performance issues. Most sims I have encountered have this minor, but noticeable lag. It doesn't impact pedagogy or use, but sliders take time to react, buttons may take a second to register, and animations are slower.

[2020-04-01 21:33] loganbraywork opened #23 "Individual sims of Motion Series fail to load"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/motion-series/1.0.0-dev.2/

Issues appears on Windows FireFox.
The individual sims within motion series fail to load, while the option menu for selecting sims does load. When tested using a higher performance PC sims still fail to load

![2020-04-01DecafMotionseries](https://user-images.githubusercontent.com/54685448

[2020-04-01 22:03] loganbraywork opened #24 "Aphid Maze fails to load in Ladybug-motion-2D"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/ladybug-motion-2d/

Issue appears on FireFox.
The aphid maze sim in Ladybug-motion-2D fails to load and reads as "null". The ladybug motion 2D sim loads successfully.
![2020-04-01DecafLadybug-in-motion-2D](https://user-images.githubusercontent.com/54685448/78190933-3be0da80-7432-11ea-97b5-62e4e6b21a74.gif)

[2020-04-01 22:40] loganbraywork opened #25 "Individual sims in Optical Tweezers fail to load"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/optical-tweezers/1.0.0-dev.3/

Molecular Motors, Optical Tweezers and Applications, and Stretching DNA fail to load on both Firefox and Chrome. The option to select the sims appears, but the individual sims do not open.

![2020-04-01DecafOpticalTweezers](https://user-images.githubusercontent.com/54685448/78193275-608

[2020-04-01 22:47] loganbraywork opened #26 "Sound fails to load"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/sound/1.0.0-dev.2/

Sound fails to load in both Chrome and Firefox when tested on a lower performance windows laptop and high performance windows PC.
![2020-04-01DecafSound](https://user-images.githubusercontent.com/54685448/78193692-55852080-7438-11ea-800e-0ae869d92ac9.gif)

[2020-04-02 03:44] samreid commented on #5
I got the PBG working by the following steps:

1. Fresh checkout of SVN
2. Create IDEA project using the .idea folder that came with the checkout
3. Upgrade lombok and and proguard to latest versions
lombok to 1.18.12
proguard to 6.2.2

Replace these jars:

![image](https://user-images.githubusercontent.com/679486/78208248-2931ca00-7461-11ea-9728-1a0c7fc984e5.png)

Then I added this patch:

[code]

[2020-04-02 03:54] samreid commented on #5
I committed the changes to an SVN branch.

[2020-04-02 04:16] samreid commented on #9
I fixed battery voltage with this patch:

[code]

[2020-04-02 04:18] samreid commented on #9
Committed the fix for "battery voltage" to the branch in https://phet.unfuddle.com/a#/repositories/23262/commit?commit=75121.

[2020-04-02 04:26] samreid commented on #9
You can set a breakpoint in AffineTransformOp constructors, by navigating to the class in IDEA then clicking the gutter.  Using this strategy, I identified that the only point in Moving Man that uses AffineTransformOp is code that horizontally flips a slider thumb icon.  We could likely work around this with little trouble.

[2020-04-02 04:53] samreid opened #27 "Add analytics to the HTML wrapper"
@jonathanolson indicated it would be nice to send explicit analytics messages from the HTML.  @jonathanolson can you please describe what this would look like, or take the lead on it?  The launch files are in html/

[2020-04-02 04:58] samreid opened #28 "Can we make the sims "fullscreen" so that they don't take up a subspace of the browser area?"
Can we make the sims "fullscreen" so that they don't take up a subspace of the browser area?

[2020-04-02 17:00] samreid commented on #6
I'm seeing the same behavior (empty glyphs) in Safari and Firefox.

[2020-04-02 20:29] KatieWoe commented on #24
Likely same as https://github.com/phetsims/decaf/issues/9

[2020-04-02 20:30] KatieWoe commented on #25
Likely same as https://github.com/phetsims/decaf/issues/9

[2020-04-02 21:02] loganbraywork opened #29 "Lasers fails to load"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/lasers/1.0.0-dev.2/

Lasers fails to load on Windows 10 IE & Chrome.

Error does appear in the console for Windows 10 IE are as follows:

[code]

![2020-04-02DecafLasers](https://user-images.githubusercontent.com/54685448/78299347-e4567380-74f2-11ea-993f-52badcdbacc2.gif)

[2020-04-02 21:13] loganbraywork commented on #25
Below is the console log and error for this sim on Firefox:

CheerpJ is initializing loader.js:2838:11
unreachable code after return statement loader.js:4:183
unreachable code after return statement loader.js:4:741
unreachable code after return statement loader.js:4:183
unreachable code after return statement loader.js:4:741
unreachable code after return statement loader.js:4:183
unreachable code

[2020-04-02 21:17] loganbraywork commented on #23
The console log and errors are as follows:

CheerpJ is initializing loader.js:2838:11
unreachable code after return statement loader.js:4:183
unreachable code after return statement loader.js:4:741
unreachable code after return statement loader.js:4:183
unreachable code after return statement loader.js:4:741
unreachable code after return statement loader.js:4:283
unreachable code after return stat

[2020-04-02 21:20] loganbraywork commented on #22
The console and error log for Windows Firefox are as follows:

CheerpJ is initializing loader.js:2838:11
unreachable code after return statement loader.js:4:183
unreachable code after return statement loader.js:4:741
unreachable code after return statement loader.js:4:183
unreachable code after return statement loader.js:4:741
unreachable code after return statement loader.js:4:183
unreachable cod

[2020-04-02 21:28] lmulhall-phet commented on #21
In Band Structure, if you mouse over the energy levels, the clock slows down significantly:

![issue](https://user-images.githubusercontent.com/31285590/78301520-6bf1b180-74f6-11ea-9112-b578eb44e698.gif)

[2020-04-02 21:36] loganbraywork opened #30 "Moving Man fails to load"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/moving-man/1.0.0-dev.2/

Moving Man fails to load on Windows 10 IE.

The console log and errors for Windows 10 IE are as follows:

[code]

![2020-04-02DecafMovingMan](https://user-images.githubusercontent.com/54685448/78302219-998b2a80-74f7-11ea-84cd-f925dd3f8b50.gif)

[2020-04-02 21:42] KatieWoe commented on #21
Alpha decay and other instance of large numbers or shaking/decaying atoms causes a noticeable slow down that doesn't impact learning, but is fairly large.

[2020-04-02 21:54] loganbraywork opened #31 "Photoelectric fails to load"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/photoelectric/1.0.0-dev.2/

Photoelectric effect fails to load in Windows 10 IE.

The console and error log for Windows 10 IE are as follows:

[code]

![2020-04-02DecafPhotoelectric](https://user-images.githubusercontent.com/54685448/78303543-18816280-74fa-11ea-9f09-697b364581b7.gif)

[2020-04-02 22:08] KatieWoe opened #32 "Nuclear Fission Show Reactor button does not bring up image and may not be exitable"
For https://phet-dev.colorado.edu/decaf/nuclear-physics/1.0.0-dev.2/
Found on ChromeOS, Win 10 Chrome, Firefox, etc. Found in Nuclear Fission sim on Nuclear Reactor screen. If you push the "Picture of a Reactor" button, it should show an image of a reactor. Instead, only an outline shows up. Nothing is intractable at this point aside from the x to leave the image that isn't there. In Chrome on Win

[2020-04-02 22:28] KatieWoe opened #33 "Nuclear Fission Performance Issues"
For https://phet-dev.colorado.edu/decaf/nuclear-physics/1.0.0-dev.2/.
Seen to a large degree in ChromeOS. In Nuclear Fission sim in Chain Reaction and particularly Nuclear Reactor screens. As mentioned in https://github.com/phetsims/decaf/issues/21#issuecomment-608105770, slow down occurs when atoms are shaking and decaying in these sims. Since these screens have a massive number of the atoms (or

[2020-04-02 22:58] loganbraywork opened #34 "Rotation Input Lag and Failed to Launch JAR message"
For https://github.com/phetsims/QA/issues/489
https://phet-dev.colorado.edu/decaf/rotation/1.0.0-dev.2/

On Windows 10 IE, Rotation displays the message "Failed to Launch JAR". Extremely long load times of about a minute for both simulations, and laggy inputs which heavily inhibit use are also present.

The following gif is cut to skip the 54 second load time.
![2020-04-02DecafRotation](https://us

[2020-04-02 23:43] lmulhall-phet commented on #9
Seeing this issue in https://phet-dev.colorado.edu/decaf/greenhouse/1.0.0-dev.2/.

[2020-04-03 04:27] samreid commented on #28
I tried:

[code]

And it had the same behavior as before.  Perhaps CheerpJ doesn't yet support fullscreen?

[2020-04-03 20:45] jonathanolson commented on #27
Should be good to go, just fill out:
[code]
with the values used.

[2020-04-03 23:04] KatieWoe opened #35 "Quantum Wave Interference play area colored light color"
For https://phet-dev.colorado.edu/decaf/quantum-wave-interference/1.0.0-dev.2/. Seen in ChromeOS and Win 10 Chrome. Quantum Wave Interference Sim.  On the second screen the background to the play area turns the color of the default light after a second or two. It reverts to normal if you send a photon, then returns to the bugged behavior. Not in published version. I also noticed that the sim is pa

[2020-04-03 23:36] lmulhall-phet opened #36 "No sound in Maze Game"
For https://github.com/phetsims/QA/issues/489. Like the title says, no sound in Maze Game https://phet-dev.colorado.edu/decaf/maze-game/1.0.0-dev.2/. I'm testing on macOS 10.15.2 + Safari.

I'm seeing this in the console:

[code]

[2020-04-04 00:40] lmulhall-phet commented on #9
Seeing this issue in https://phet-dev.colorado.edu/decaf/mri/.

[2020-04-04 23:45] lmulhall-phet commented on #9
See this issue in https://phet-dev.colorado.edu/decaf/plate-tectonics/1.0.0-dev.2/.

[2020-04-05 03:28] lmulhall-phet commented on #9
I think I'm seeing this issue in https://phet-dev.colorado.edu/decaf/discharge-lamps/1.0.0-dev.2/. I can tether iPad if necessary.

[2020-04-05 04:01] lmulhall-phet commented on #9
I think I'm seeing this issue in https://phet-dev.colorado.edu/decaf/soluble-salts/1.0.0-dev.2/. I can tether iPad if necessary.

[2020-04-06 14:21] samreid commented on #27
@jonathanolson also mentioned the in-Java analytics have been down for a while, and that we should disable the Java-side analytics (for CheerpJ sims only) before proceeding with this code.

[2020-04-06 14:34] samreid commented on #31
The error is:

[code]

Let's track this in #9, closing.

[2020-04-06 14:34] #31 closed

[2020-04-06 14:37] samreid commented on #30
This is caused by https://github.com/phetsims/decaf/issues/9, we'll track it there.

[2020-04-06 14:37] #30 closed

[2020-04-06 14:38] samreid commented on #29
Caused by #9, we'll track it there

[2020-04-06 14:38] #29 closed

[2020-04-06 14:40] samreid commented on #26
The failure is that this sound player is not supported `N4jass6render12SourcePlayerX`

[2020-04-06 14:41] samreid commented on #25
It looks like this is caused by AffineTransformOp, let's track it in #9, closing.

[2020-04-06 14:41] #25 closed

[2020-04-06 14:45] samreid commented on #22
Caused by #9, tracking there, closing.

[2020-04-06 14:45] #22 closed

[2020-04-06 14:46] samreid commented on #24
I don't believe "Aphid Maze" is a production sim that we wish to port.  @kathy-phet or @KatieWoe please correct me and reopen if incorrect.

[2020-04-06 14:47] samreid commented on #23
Caused by #9, tracking there, closing.

[2020-04-06 14:47] #23 closed

[2020-04-06 14:49] KatieWoe commented on #24
I don't believe it is, but it that case, shouldn't it be removed as a selectable option @samreid?

[2020-04-06 14:50] samreid commented on #24
Sounds like a plan, I'll do that, thanks!

[2020-04-06 15:25] samreid commented on #9
This problem affects around 14 sims (listed in the issue description).  For cases like flipping horizontally or vertically, it would be easy to fix this with new Java code or flipped assets.  For cases that perform a rotation, this would be substantially more complicated (than flips) in Java code.  I don't know how many cases are doing a flip vs a rotation (but Moving Man just uses flips).  Potent

[2020-04-06 15:47] samreid opened #37 "Select a simulation for initial publication"
It would be nice to choose a simulation to move forward for initial publication.  @KatieWoe may have a good recommendation based on her testing.  From my perspective, Hydrogen Atom seemed like a reasonable starting point, but I'd like to hear from @KatieWoe and @kathy-phet about their recommendations.

On slack last Wednesday, I asked @KatieWoe what she thought, and she said:

There has been more

[2020-04-06 18:49] KatieWoe commented on #34
I am running into the same error message and unsusable slowness in https://phet-dev.colorado.edu/decaf/sugar-and-salt-solutions/1.0.0-dev.2/
![failedtolaunch](https://user-images.githubusercontent.com/41024075/78594123-f68f2500-7804-11ea-8361-118d616b67f6.png)
![unusablyslow](https://user-images.githubusercontent.com/41024075/78594132-f8f17f00-7804-11ea-978c-6c42c8f66ebd.gif)

[2020-04-06 19:03] loganbraywork commented on #37
Ladybug-motion-2D worked the best out of all of the decaf sims I tested

[2020-04-06 19:20] KatieWoe commented on #17
![Image from iOS](https://user-images.githubusercontent.com/41024075/78596641-5f789c00-7809-11ea-8782-216075ae0cd6.png)

[2020-04-06 19:28] samreid commented on #15
Testing completed.  Remaining work noted in other open issues, closing.

[2020-04-06 19:28] #15 closed

[2020-04-06 19:35] samreid commented on #27
Decaf "in-java" analytics removed in https://phet.unfuddle.com/a#/repositories/23262/commit?commit=75122

[2020-04-06 19:38] samreid opened #38 "Disable "check for updates" functionality"
Since the decaf simulations will be "online only" and not downloadable, the "check for updates" phase and UI components are extraneous. They should be removed.

[2020-04-06 19:39] samreid commented on #38
Removed in https://phet.unfuddle.com/a#/repositories/23262/commit?commit=75123, closing.

[2020-04-06 19:39] #38 closed

[2020-04-06 19:47] KatieWoe commented on #37
When a sim is decided for this issue, we should do more in depth testing on it before it goes out, since this last round only did one platform per sim. Maybe we should pick more than one and see which works better between the different platforms.

[2020-04-06 19:51] kathy-phet commented on #37
I would like to pick something that would be being used soon. I just played with Faraday's Electromagnetic Lab on my computer, and it seemed pretty good. How did that work for you?
@samreid - Can that be generated so that it doesn't require the "offline acceptance" ask, and also starts without the dialog to ask which sim to run?

[2020-04-06 19:56] samreid commented on #37
@kathy-phet by the "offline acceptance" ask, do you mean this dialog?

![image](https://user-images.githubusercontent.com/679486/78599454-6524b080-780e-11ea-952d-9df4418bb97a.png)

[2020-04-06 19:56] kathy-phet opened #39 "Make a GIF for the start up splash screen"
We will need to make a GIF that has a moving circle or line or something, but that rebrands the splash screen with something like this. Sam has figured out a work around to make this change.
![image](https://user-images.githubusercontent.com/5096804/78599403-4aead280-780e-11ea-9541-968ca8c898f7.png)

Can someone make a splash screen gif?

[2020-04-06 20:06] amanda-phet commented on #39
(1) **Will the animation be done in code by @samreid or do you want a GIF?** Are you sure it's a GIF that we want for this? I assumed that loading animation was done in code.
(2) **Are there requirements for the animation (from cheerpj)?** Do you recall if cheerpj wants a loading circle around their logo, or if we can do something different? I think since we are making a wider splash screen design

[2020-04-06 20:54] samreid commented on #5
I added support for the null flavor in https://phet.unfuddle.com/a#/repositories/23262/commit?commit=75124

[2020-04-06 21:09] samreid commented on #37
I removed that in svn revision 75122

[2020-04-06 21:10] samreid commented on #10
@kathy-phet confirmed to remove this, and I did so in 75122, closing.

[2020-04-06 21:10] #10 closed

[2020-04-06 21:11] kathy-phet commented on #39
I like it too!

[2020-04-06 21:12] kathy-phet commented on #39
I think you could make a gif by making it animate like this in your powerpoint or something like that and then taking a sort movie of that using camtasia.

[2020-04-06 21:19] samreid commented on #37
This version removes the offline acceptance ask, removes the simulation selector, and supports ?locale query parameter.  Note the simulation is specified in the query parameter too:
https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.3/index.html?simulation=faraday

For instance:
https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.3/index.html?simulation=faraday&locale=fr

[2020-04-06 21:21] samreid commented on #27
I published https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.3/index.html?simulation=faraday with the analytics.  It should have sent a few messages by now.  @jonathanolson can you please take a look and see if it is working as expected?  Or/additionally look at the JS in that HTML link to make sure it looks reasonable.

[2020-04-06 21:23] samreid commented on #3
I've made several changes, to remove the agreement dialog, to support command line arguments to select the flavor.  The process for building is:

* Launch PBG
* Select the sim
* Press test
* exit the sim
* from root: `cp phet-svn-trunk-2020/simulations-java/simulations/faraday/deploy/faraday_all.jar apache-document-root/main/decaf/projects/faraday/`
* from the decaf/project `/Applications/cheerpj/

[2020-04-06 21:23] #3 closed

[2020-04-06 21:27] samreid commented on #5
Simulations can now be launched with a ?simulation query parameter, where the values are identified in the jar-launcher.properties file in the JAR.   Closing.

[2020-04-06 21:28] pixelzoom commented on #5
Reopening... For posterity, can you please explain what "the null flavor" is?

[2020-04-06 21:30] samreid commented on #6
I added support for locale = language_COUNTRY in the URL and tested it with "fr" and "ku_TR" in Faraday's Law.  It worked well in both cases.  I'll close this and open a side issue about missing font glyphs.

[2020-04-06 21:30] #6 closed

[2020-04-06 21:30] samreid opened #40 "Some font glyphs missing"
See https://github.com/phetsims/decaf/issues/6#issuecomment-606982636

[2020-04-06 21:33] samreid commented on #5
To simplify the code, cheerpJ launch is always called with a "flavor", and if the flavor is "null", this maps back to null on the Java side like in JARLauncher

[code]

That will trigger showing the flavor-selector dialog for projects with more than one flavor.

[2020-04-06 21:34] #5 closed

[2020-04-06 21:36] samreid commented on #39
Powerpoint can also export GIFs directly.  You can also create gifs in Illustrator and Photoshop.

[2020-04-06 22:34] kathy-phet commented on #9
Since this impacts so many simulations, can you please report this issue to Stefano and see if they can fix it.

[2020-04-06 22:43] jonathanolson commented on #27
Looks good to me!

[2020-04-06 22:44] #27 closed

[2020-04-07 02:44] samreid commented on #9
I reported this issue to CheerpJ.

[2020-04-07 18:15] amanda-phet commented on #39
@samreid Can I just give you two image assets, one that says "PhET Java Simulations" and another that says "Powered By cheerpj" and you can sandwich them around this gif I made?

[2020-04-07 18:20] samreid commented on #39
I'm not sure how I'll do it (maybe using Photoshop), but send them along and I'll try some ideas, thanks!

[2020-04-07 18:21] amanda-phet commented on #39
I meant just arrange them on the splash screen. If that's not possible I will make a single gif for you.

[2020-04-07 18:43] kathy-phet commented on #39
Amanda - I am sure it will need to be a single gif. We are basically overriding what they have so it needs to be a single file name.

[2020-04-07 19:11] amanda-phet commented on #39
![loading](https://user-images.githubusercontent.com/7852916/78709646-391e3380-78d1-11ea-8947-36a4319be5f1.gif)

Please give me your polishes! I got it working, so I can adjust sizes of logos, overall size of gif, etc.

[2020-04-07 19:52] samreid commented on #39
To clarify, the proposed strategy works by putting the new logo in front of the existing logo (not by replacing it).  It could be done with arbitrary HTML, but a single gif will be simpler.

* The "powered by" text is too close in size to the "cheerpj" text.  What do you think about using the cheerpj text to the side like in this one--makes it a bit bigger and matches its size more closely to the

[2020-04-07 20:07] samreid opened #41 "Add a custom splash screen"
In https://github.com/phetsims/decaf/issues/39 the splash screen is being designed.  @kathy-phet discussed with CheerpJ about the business side.  This issue is for technical aspects for how to add the splash screen to the launch.

I tried adding this code to our HTML body:

[code]
Then in the stylesheet, I replaced the splash image:

[code]

The result was that it showed the PhET logo during start

[2020-04-07 21:55] samreid commented on #41
I added this strategy and published a sample version here: https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.5/?simulation=faraday

This tested OK on my mac chrome/firefox/safari.

@KatieWoe can you please test across a few more platforms, like chromebook and ipad?

[2020-04-07 21:56] samreid commented on #39
To experiment with the code for this part, I opened #41 and used the gif from 2 comments back.  The result is here, in case you want to see that logo gif in context: https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.5/?simulation=faraday

[2020-04-07 22:07] KatieWoe commented on #41
IE gives an error. Not sure if it is related to the splash screen:
![ieerror](https://user-images.githubusercontent.com/41024075/78724087-e69d4100-78e9-11ea-853d-ef570ebb72c6.png)

[2020-04-07 22:15] samreid commented on #41
Maybe it was caused by let/const.  I converted them to var in this version, can you please take a look?https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.6/index.html

[2020-04-07 22:20] KatieWoe commented on #41
Still happens there

[2020-04-07 22:55] KatieWoe commented on #41
Checked a few other platforms, and they looked ok

[2020-04-07 23:06] kathy-phet commented on #41
Sam - On IE, splash screen works in dev.2 but not in dev.3. I believe dev.3 was probably before you added the custom splash screen. dev.2 has an error but still launches in the end.

[2020-04-08 02:24] samreid commented on #41
I fixed the HTML IE errors, but I saw the error dialog I think @kathy-phet was referring to.  That still needs investigation.

[2020-04-08 02:25] samreid commented on #41
I should also mention that neither splash screen shows on IE.

[2020-04-08 02:29] samreid opened #42 "setResizable() fails on IE11"
From https://github.com/phetsims/decaf/issues/41#issuecomment-610662787, on IE11 there is a NullPointerException in CheerpJWindowPeer.disableResizing().  This is being caught in JavaVersionChecker.main and shown in a dialog.  Maybe it can be skipped safely?

By the way, we have many occurrences of setResizable(false):

![image](https://user-images.githubusercontent.com/679486/78738199-7ead2180-790

[2020-04-08 02:53] samreid commented on #42
In a SVN commit, I commented out JARLauncher's setResizable(false), and now faraday is launching on IE11 without a failure.  Other calls to `setReszable` false could still be a problem though.

[2020-04-08 02:58] samreid commented on #42
No observable problem on IE faraday for the about dialog or credits dialog, or either of the options dialogs.

[2020-04-08 03:05] samreid commented on #42
Here's a new version with this fix: https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.7/index.html?simulation=faraday

[2020-04-08 03:06] samreid commented on #41
I repaired this startup failure and deployed here: https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.7/index.html?simulation=faraday

It's launching OK on my IE.

[2020-04-08 03:07] samreid commented on #41
@KatieWoe can you please confirm on your IE setup?  If it's OK, please close.

[2020-04-08 15:00] amanda-phet commented on #39
![java-cheerpj-loading](https://user-images.githubusercontent.com/7852916/78799424-57d70580-7977-11ea-92c0-48fd5e5bb0c2.gif)

[2020-04-08 16:28] KatieWoe commented on #41
Loads up and the splash screen looks ok on IE for me

[2020-04-08 16:29] #41 closed

[2020-04-08 21:15] kathy-phet commented on #39
I actually have a slight preference for the prior version, but can go either way.

[2020-04-09 01:34] ariel-phet commented on #37
I concur that Faraday's Electromagnetic lab would be a great sim to publish, as it would be very popular.

As a data point, the first link above runs beautifully on Chrome, but is quite laggy on Firefox.

[2020-04-09 04:10] samreid opened #43 "Document build/deploy process and include steps for optimization"
Document build/deploy process and include steps for optimization

[2020-04-09 04:30] samreid commented on #43
I tried the packJar option and it produced a JAR that was 3.1MB compared to the original 3.6MB size, and also reported warnings.  I wonder if that's expected?  I thought it was just keeping metadata, so I'm surprised it would still be such a large file.

[2020-04-09 04:37] samreid commented on #43
This version parallelizes the downloads via projectResources:

https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.14/?simulation=faraday

[2020-04-10 14:14] samreid commented on #17
CheerpJ reported that this is a bug in Safari 13, which has been fixed in Safari "master" and is expected to be fixed in an upcoming version.  Their bug report to Webkit is here: https://bugs.webkit.org/show_bug.cgi?id=210105

They also reported that we can avoid this problem by specifying `disableWasm:true`, but this is expected to reduce text rendering performance, and they indicated this should

[2020-04-10 14:39] samreid commented on #28
CheerpJ reported:

[2020-04-10 17:00] samreid commented on #28
I added code to get the startup innerWidth x innerHeight and send a notification when that changes.  It works OK on my Chrome and mobile safari, but on my mobile safari, sometimes the top is cut off when the address bar is too big.  But I found out that you can shrink the address bar by swiping it up.  I published a version here:

https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.15/index.html

[2020-04-10 17:03] KatieWoe commented on #28
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Win 10 IE
- [ ] Mac 10.15 Safari
- [ ] Mac 10.15 Chrome
- [ ] iPhone Safari
- [ ] iPad 13 Safari
- [ ] ChromeOS

@samreid does this list look ok?

[2020-04-10 17:09] samreid commented on #28
Does Mac firefox mostly behave like Win firefox?  Other than that, everything sounds great!

[2020-04-10 17:18] KatieWoe commented on #28
We don't support it anymore, but I can add it if you want

[2020-04-10 17:29] samreid commented on #28
I didn't know that--if we don't support it, no need to test on that. Thanks for getting me up to speed!

[2020-04-10 17:32] samreid commented on #28
@kathy-phet said on Windows Chrome it always creates scrollbars regardless of the window size:

![image](https://user-images.githubusercontent.com/679486/79010283-e89c1580-7b1e-11ea-8961-5f1e5c96664e.png)

[2020-04-10 18:08] samreid commented on #28
This version removes the scrollbars on my Win/Chrome: https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.16/index.html?simulation=faraday

This change will require re-testing across platforms.

[2020-04-10 18:20] KatieWoe opened #44 "Scroll bars may be needed but not appear"
For https://github.com/phetsims/decaf/issues/28. Found on Win 10 Chrome. If the window is small enough, particularly in width, the sim no longer fits the window and elements such a tabs may be out of view. However, no scroll bar seems to become available at this point, even though it may be needed in this case. Found after the first fix in that issue: https://phet-dev.colorado.edu/decaf/faraday/1.

[2020-04-10 18:43] KatieWoe opened #45 "Dragable objects can be lost when window resizes"
For https://github.com/phetsims/decaf/issues/28. Found on Win 10 Firefox. When the window size changes, it is possible for dragable objects in the play area to be lost outside of bounds. The window would need to be resized again to retrieve the object. To do this, have a larger window (full screen in the gif bellow), drag an object to the side, and then resize the window smaller
![lostdragobjects]

[2020-04-10 19:15] KatieWoe commented on #28
Noting that in IE there is a significant lag in attempts to resize the window, with the window sometimes failing to even respond.

[2020-04-10 19:16] samreid commented on #9
The commit points to a runtime with a fix for AffineTransformOp.filter.  Moving man launches and runs without a problem.

[2020-04-10 19:38] samreid commented on #28
I also noticed that delay in Mac Safari.

[2020-04-10 20:32] KatieWoe opened #46 "iPad Safari Loading tab reappears and stays put"
For https://github.com/phetsims/decaf/issues/28. On iPadOS 13.4.1. Doesn't seem to happen when recording the screen, so I haven't gotten a video.
When the sim first starts up on any platform, there is a Loading tab that hangs down from the top that then fades away. On the iPad it does this, but reappears when you go to another sim screen and stays put. It does not fade away again.

[2020-04-10 20:47] KatieWoe opened #47 "Possible for sim to be smaller than window on iPad"
For https://github.com/phetsims/decaf/issues/28. Found on Safari iPadOS 13.4.1. Seen in https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.16/index.html?simulation=faraday. It is possible to get the iPad in a situation where it has the sim in a smaller area than the available window size. To do this, have the iPad in one orientation (say portrait). While in that orientation, put the iPad to sle

[2020-04-10 21:24] KatieWoe commented on #47
This test on iPhone seems less consistent on iPhone. I've seen it adjust fine, and I've seen it appear very zoomed in or non-functioning and need a reload?

[2020-04-10 21:25] KatieWoe commented on #28
I believe QA is done with this round of window resizing testing.

[2020-04-10 21:36] samreid commented on #43
This is documented, closing.

[2020-04-10 21:36] #43 closed

[2020-04-10 21:40] samreid commented on #28
Thanks!  Closing.

[2020-04-10 21:40] #28 closed

[2020-04-11 14:49] samreid commented on #46
Does this happen on prior versions such as https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.3/index.html?simulation=faraday ?

[2020-04-13 16:57] KatieWoe commented on #46
It does. It is less noticeable when the sim isn't made to fit the screen since it's up at the top, but it does seem to happen in the sim you linked.
![Image from iOS (2)](https://user-images.githubusercontent.com/41024075/79140699-9b65b100-7d75-11ea-8a97-898c525de93e.png)

[2020-04-13 17:59] samreid commented on #37
We have selected Faraday and will move forward in other issues, closing.

[2020-04-13 17:59] #37 closed

[2020-04-13 18:00] samreid commented on #12
This may have been addressed by #28

[2020-04-13 18:00] #12 closed

[2020-04-13 18:03] samreid commented on #46
It seems this is not directly related to recent changes for resizing.  It only affects a few platforms and doesn't seem to degrade usability too much (in my opinion).  @kathy-phet can you please take a look and consider whether we should report this to CheerpJ?

[2020-04-13 18:04] samreid commented on #45
This is a problem in the original Java that I suspect we won't want to save time fixing.

[2020-04-13 18:04] samreid commented on #44
This is a bug in the original Java which I suspect we will not want to spend time fixing.

[2020-04-13 18:05] samreid commented on #42
This will be more thoroughly tested in an upcoming RC.  Closing.

[2020-04-13 18:05] #42 closed

[2020-04-13 19:14] kathy-phet commented on #46
I think its fine to move ahead with this as it doesn't make it unuseable. I did have Koji check it on his iPad, and the Loading bar did fade away ... so its not universal on iPads.

[2020-04-13 21:06] loganbraywork opened #48 "Cannot change background color if already changed once Faraday 1.0.0-dev.7"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10

<b>Browser</b>

Chrome v. 80.0.3987.163 (Official Build) (64-bit)

<b>Problem Description</b>

Dev Version used: https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.7/index.html?simulation=faraday

When the background color is changed once, the option becomes grayed out and cannot be changed again unless the page is refr

[2020-04-14 15:06] samreid commented on #16
This problem is also happening on the CheerpJ demo https://javafiddle.leaningtech.com/.  It may be an unsupported mode of operation.  @kathy-phet how do you recommend to proceed?

[2020-04-14 15:19] samreid commented on #43
Summary of notes from slack:

For optimization, I was following the roadmap in https://github.com/leaningtech/cheerpj-meta/wiki/Startup-time-optimization
Our server already uses gzip encoding
Our code is already proguarded, so I didn’t investigate that step.
pack-jar only reduced by a small amount, and disproportionately complicated the build process, so I abandoned it
And I implemented the preloa

[2020-04-14 15:28] samreid opened #49 "Process for creating RC, production and maintenance releases"
We have no RC build process at the moment, nor do we have a release process.  Will we need to deploy maintenance releases?  At the moment what is supported is building dev versions.  Without building much additional infrastructure, here's what would be easy:

1. Build and deploy a dev version
2. Test the dev version as if it is an RC
3. If that has problems, fix them and deploy a new dev version t

[2020-04-14 15:32] samreid commented on #49
One part that we don't have right now is the ability to automatically record versions.  At a minimum we need the SHA of decaf, chipper and the SVN revision number.

[2020-04-14 15:33] samreid commented on #16
CheerpJ reported:

[2020-04-14 15:34] samreid opened #50 "Publish an RC for Faraday"
Using a process like the one described in #49, we should publish a release candidate for Faraday's law and begin testing the entire suite.

[code]

[code]

[2020-04-14 15:43] kathy-phet commented on #16
Sam, OK - I don't think fixing this is a priority. Is it possible though to detect incognito in firefox and return an message that recommends running in Chrome or something?

[2020-04-14 15:50] samreid commented on #16
The technical way to check for this problem is to check for the existence of IndexedDB.  But I'm not sure we would want to use that terminology in a dialog window presented to the user.  I'm reluctant to just check for "is the user running private firefox" for a few reasons:

* It sounds difficult to check
* If firefox adds indexeddb to private mode in the future, then this code would be wrong and

[2020-04-14 16:00] kathy-phet commented on #16
Hi Sam, This approach looks good. And no I would say its not "blocking". We can upgrade it when it is ready. Thanks.

[2020-04-14 16:04] samreid commented on #50
https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=faraday
https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=magnet-and-compass
https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=magnets-and-electromagnets
https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=generator

Locales are from this list:

[code]

[2020-04-14 16:21] samreid commented on #50
Testing is pending in https://github.com/phetsims/QA/issues/494, closing.

[2020-04-14 16:21] #50 closed

[2020-04-14 18:17] KatieWoe opened #51 "Borderline performance on Faraday ChromeOS"
For https://github.com/phetsims/QA/issues/494, https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=faraday.
ChromeOS isnormally one of the slower platforms. Dragging things in this sim is fairly laggy, as is the AC source of current. This is within what I would consider acceptable bounds as the pedagogy does not seem impacted. The only possible impact is when looking at a light bu

[2020-04-14 18:36] KatieWoe opened #52 "Instances of non-translation"
For https://github.com/phetsims/QA/issues/494. I am using this issue to document which locales on which platforms do not translate properly. This generally means that all text that would be localized is in a blank box. This generally means that the characters are not available. It is generally thought that they would be to a person using that language on that device. As such, I'm not too worried a

[2020-04-14 19:13] loganbraywork commented on #48
Issue still occurs in https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=faraday so linking https://github.com/phetsims/QA/issues/494

[2020-04-14 19:14] KatieWoe opened #53 "AR title cut off"
For https://github.com/phetsims/QA/issues/494. Seen on https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=faraday on ChromeOS with the locale ar. The title seems to be cut off at the bottom. Changing window size does not seem to fix this.
![Screenshot 2020-04-14 at 12 41 53 PM](https://user-images.githubusercontent.com/41024075/79264417-c6bdce00-7e51-11ea-9c32-9c82d380ec76.png)

[2020-04-14 19:35] KatieWoe commented on #52
Chrome OS 81.0.4044.94
am

[2020-04-14 19:36] loganbraywork commented on #52
Windows 10
Chrome v. 80.0.3987.163
am

[2020-04-14 19:40] loganbraywork commented on #53
This issue does not appear on Windows 10 Chrome locale ar

[2020-04-14 19:52] KatieWoe commented on #52
Also noting, low resolutions screens can make some text that is particularly small hard to read, such as the AC current supply text. This is not limited to locale, but may be more pronounced in some.

[2020-04-14 20:10] loganbraywork opened #54 "BG field meter extends over edge of object"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 v.1903

<b>Browser</b>

Chrome v. 80.0.3987.163

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/494

The field meter translation extends over the edge of the field meter object.

<b>Steps to Reproduce</b>

1. Change locale to bg
2. Tick the field meter checkbox

<b>Visuals</b>

![2020-04-14DecafFarada

[2020-04-14 20:17] loganbraywork commented on #54
This same issue also appears on the BS locale

[2020-04-14 20:25] KatieWoe commented on #53
Happens in fa on ChromeOS

[2020-04-14 20:26] KatieWoe commented on #54
This issue appears on a number of locales. @samreid do you want a full list?

[2020-04-14 21:42] KatieWoe opened #55 "kn will not load"
For https://github.com/phetsims/QA/issues/494. kn translation of https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=faraday. On ChromeOS.
This error shows up as the sim is loading and does not finish.
![Screenshot 2020-04-14 at 3 30 49 PM](https://user-images.githubusercontent.com/41024075/79277143-7bfa8100-7e66-11ea-8689-c3ce2b3a2b44.png)
![Screenshot 2020-04-14 at 3 31 04 PM](h

[2020-04-14 21:45] loganbraywork commented on #52
Windows 10
Chrome v. 80.0.3987.163
hy

[2020-04-14 21:54] loganbraywork commented on #55
Fails to load on Windows 10 Chrome v. 80.0.3987.163 as well

[2020-04-14 22:20] KatieWoe commented on #55
This is happening in the mr locale as well.

[2020-04-14 22:44] loganbraywork opened #56 "Faraday poor performance on Firefox"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 1903

<b>Browser</b>

Firefox 75

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/494

Performance of Faraday on Firefox is a lot slower than on Chrome to the point of inhibiting use.

<b>Visuals</b>

<details><summary>Firefox</summary>

![2020-04-14DecafFaradayFrFxLag](https://user-images.githubuserco

[2020-04-14 23:45] lmulhall-phet opened #57 "Artifacts trailing behind field meter label"
<b>Test Device</b>

iPhone SE

<b>Operating System</b>

iOS 13.3.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/494. Seen in https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=faraday. Related to https://github.com/phetsims/decaf/issues/54.

As you can see in the screenshot, the field meter's label is leaving letters behind as it moves.

<b>Steps to Repr

[2020-04-15 17:42] KatieWoe commented on #48
You do not even need to have made a change for this, just entered the dialog box and left it.

[2020-04-15 17:49] KatieWoe opened #58 "Pieces of objects briefly left behind"
For https://github.com/phetsims/QA/issues/494. Found on Edge, but I believe it can happen elsewhere. On Edge, it seemed to occur if you loaded in a small window, then made it full screen.
When dragging around certain objects, such as a bar magnet or a coil, part of it can get cut off and left behind momentarily. It then snaps back into place.
![leftbehind](https://user-images.githubusercontent.com

[2020-04-15 17:57] KatieWoe commented on #55
Happens on Win 10 Edge

[2020-04-15 18:20] KatieWoe opened #59 "Sim stays at old window size if changed during loading."
For https://github.com/phetsims/QA/issues/494. Related to the full screen change. Recorded on Edge, but occurs on Firefox and others.
When the sim is loading, changing the size of the window will cause it to load in the first window size, rather than the new one. Specifically seems to happen if change is inbetween the cheerpj and phet loading screens. Found this easiest to replicate by closing dev

[2020-04-15 19:49] KatieWoe opened #60 "Cross hairs on magnetic field tool come and go"
For https://github.com/phetsims/QA/issues/494. Recorded on Edge, but I believe it happens elsewhere. Happens on high resolution screens as well. As the field meter is dragged around, one or both of the cross hairs on the tool can disappear at certain places, and reappear as the tool is moved again.
![crosshairsgone](https://user-images.githubusercontent.com/41024075/79381909-e9b6b380-7f1f-11ea-999

[2020-04-15 20:24] KatieWoe commented on #57
Seen on Win 10 Edge
![seenonedge](https://user-images.githubusercontent.com/41024075/79384840-d78b4400-7f24-11ea-8e78-23d04e81b2de.png)

[2020-04-15 20:25] KatieWoe commented on #57
Wondering if it has to do with the strings being too long

[2020-04-15 20:26] samreid commented on #57
Does this happen in the Java version?

[2020-04-15 20:32] KatieWoe commented on #57
I'm not seeing it in ku_TR which is where I saw it in the decaf version

[2020-04-15 20:42] megan-phet opened #61 "Font Metrics Problem"
<b>Test Device</b>
MacPro
<b>Operating System</b>
10.15.4
<b>Browser</b>
Safari 13.1
<b>Problem Description</b>
For phetsims/QA#494
Off centered texts
<b>Visuals</b>
<img width="170" alt="Screen Shot 2020-04-15 at 2 16 13 PM" src="https://user-images.githubusercontent.com/40698031/79385937-9c8a1000-7f26-11ea-8c00-9cff23e06a9a.png">

[2020-04-15 21:04] KatieWoe opened #62 "Reset all does not start a paused sim"
For https://github.com/phetsims/QA/issues/494. Happens in java sim. If you pause the sim then hit the reset all button, the sim does not go back to an unpaused state.

[2020-04-15 21:53] loganbraywork opened #63 "Faraday poor performance on Internet Explorer"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 1903

<b>Browser</b>

IE 11.719.18362.0

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/494

Internet explorer experiences extremely poor performance.

<b>Visuals</b>

![2020-04-15DecafFaradayIELag](https://user-images.githubusercontent.com/54685448/79392756-28a13500-7f31-11ea-94ed-0948559cdf21.gif)

[2020-04-15 22:01] KatieWoe opened #64 "Safari may freeze if left to sit"
For https://github.com/phetsims/QA/issues/494. Mac 10.10.5 Safari 10.1.2.
If the sim is left without being touched (such as when looking at an email on another device) it is sometimes frozen for several seconds when you come back to it and try to move something. This seems inconsistent in how long it takes and how long it is frozen. Sometimes it doesn't seem to even happen. Seen mostly on Bar Magn

[2020-04-15 22:02] KatieWoe commented on #64
It can stay frozen much longer than the Ohm's Law issue however. It can even last 15-30 seconds seemingly.

[2020-04-15 22:25] KatieWoe commented on #55
Mac 10.10 Safari

[2020-04-15 22:40] KatieWoe commented on #52
Mac 10.10 Safari
am
hy
ja
ka
km
ko
lo
th
zh_CN
zh_TW

[2020-04-15 22:50] megan-phet commented on #52
They are all the same.

<img width="332" alt="Screen Shot 2020-04-15 at 4 49 37 PM" src="https://user-images.githubusercontent.com/40698031/79396417-1aefad80-7f39-11ea-891a-481310c7fc7d.png">

[2020-04-15 22:52] KatieWoe commented on #52
I'm starting to think so to, which makes me reconsider what I said above:

@samreid what do you think?

[2020-04-15 23:06] megan-phet commented on #55
kn and mr for MacOS 10.15.4

[2020-04-15 23:09] megan-phet commented on #55
Might be the same across the board.

[2020-04-16 16:14] KatieWoe commented on #64
Same on Mac 10.11 Safari

[2020-04-16 16:30] samreid commented on #56
Does the performance improve if the window is made smaller?

[2020-04-16 16:30] samreid commented on #63
Does the performance improve if the window is made smaller?

[2020-04-16 16:31] samreid commented on #51
Does the performance improve if the window is made smaller?

[2020-04-16 16:34] samreid opened #65 "Faraday performance"
The performance of Faraday has been reported as suboptimal in #56 #63 and general performance problems have been noted in #21.

In https://github.com/phetsims/QA/issues/494#issuecomment-613623340 @ariel-phet said:

Reducing the paint area is one way to improve performance, but may not be the best way.  We will discuss it at a meeting later today.

Brainstorming ways to improve performance:
* Reach

[2020-04-16 16:37] samreid commented on #65
70% of the application time is being spent in AbstractFieldGraphic.paint:

![image](https://user-images.githubusercontent.com/679486/79482618-4ffa0f80-7fce-11ea-9a8e-9166efadd521.png)

[2020-04-16 16:54] pixelzoom commented on #65
I recall that performance optimization was a huge part of getting this working (back in 2005?)
I dimly remember trying different approaches and discovering that performance was better with shapes + opacity than with images + opacity.  But I may be mistaken, or optimizations may have changed in the JRE since them.

[2020-04-16 17:06] pixelzoom commented on #65
If you proceed with changes to the Java version, it's highly recommended to look through the commit history to identify optimizations, so that regressions are not introduced.

Some things to be aware of:

* If using images, beware that you'll need to support the options under "Options > Field Controls", including the needle size and spacing.

* AbstractFieldGraphic optimizes rendering on the (defa

[2020-04-16 17:08] samreid commented on #65
Here's a feasibility patch that uses images:

<details>

[code]

</details>

[2020-04-16 17:13] samreid commented on #65
This version uses images instead of shapes (dimensions and transforms are not fine tuned, this is just for performance testing)

https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.18/index.html?simulation=faraday

@ariel-phet @KatieWoe @loganbraywork can you please report how this impacts the performance on your platform?

[2020-04-16 17:18] samreid opened #66 "How should we track Java code changes?"
I asked in Slack:

@zepumph replied:

I said:

@zepumph said:

I replied:

@zepumph said:

I replied:

@jonathanolson said:

I replied:

@jonathanolson said:

@zepumph said:

I replied:

[2020-04-16 17:18] pixelzoom commented on #65
Performance of 1.0.0-dev.18 is good for me on macOS 10.15.4 + Safari 13.1.

Transforms is probably responsible for the fact that needles are in the wrong place, most noticeable around the magnet:

<img width="529" alt="screenshot_266" src="https://user-images.githubusercontent.com/3046552/79486319-c0575f80-7fd3-11ea-9139-de7caeab72f3.png">

When changing the background color (Projector Mode), imag

[2020-04-16 17:18] samreid commented on #66
I created a branch called "decaf" and have been making changes there, keeping trunk pristine.

[2020-04-16 18:00] KatieWoe opened #67 "Long strings may cause instruction arrows to point to nothing"
For https://github.com/phetsims/QA/issues/494. Any platform. If translated strings are long enough the arrows on the starting instruction dialog, "move me or me" can point at the empty air behind the magnet rather than at the magnet itself. This is a fairly minor issue though, as this mostly happens when there are boxes, rather than characters as in https://github.com/phetsims/decaf/issues/52. A s

[2020-04-16 18:12] KatieWoe commented on #65
Performance on Win 10 Firefox 75.0 is a bit better, but still noticeably laggy. Also seeing the arrow problem @pixelzoom saw above.

[2020-04-16 18:17] KatieWoe commented on #65
Performance in IE seems a bit worse honestly.

[2020-04-16 18:26] KatieWoe commented on #51
Lag is still there, but it is better.

[2020-04-16 18:41] KatieWoe commented on #65
ChromeOS seems a bit better as well. @samreid do want to know any other platforms?

[2020-04-16 19:14] KatieWoe commented on #48
A version happens with the Field Controls. If you exit the dialog by clicking outside it, rather than clicking ok, x, or cancel, then the option to open Field Controls banks out.
![blankfieldcontrol](https://user-images.githubusercontent.com/41024075/79496783-de2cc080-7fe3-11ea-90e3-d20213543c72.gif)

[2020-04-16 19:15] KatieWoe commented on #65
I did notice that trying to change the needle size no longer works.
![needlesize](https://user-images.githubusercontent.com/41024075/79497057-50050a00-7fe4-11ea-8426-2b08767d7348.gif)

[2020-04-16 19:46] loganbraywork commented on #65
Works great on Windows 10 Chrome, although strange background interaction
![2020-04-16DecafFaradayShapesTest](https://user-images.githubusercontent.com/54685448/79499723-a2e0c080-7fe8-11ea-93f0-8439a7a586cf.PNG)

[2020-04-16 20:32] loganbraywork commented on #56
Mildly, although the stuttering is still present and the quality is below that of Chrome

[2020-04-16 20:36] loganbraywork commented on #63
Mildly, performance is similar to Firefox performance in fullscreen here https://github.com/phetsims/decaf/issues/56#issuecomment-614879676

[2020-04-16 22:21] samreid opened #68 "Try using the window.innerWidth and innerHeight for minimum initial frame size"
Try using the window.innerWidth and innerHeight for minimum initial frame size.

[2020-04-16 22:23] samreid commented on #68
On iPad, the `getAvailableRectangle` seems incorrect--may not be accounting for tabs or other parts at the top of mobile safari.

[2020-04-16 22:40] loganbraywork opened #69 "Objects randomly dropped while being moved"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 1903

<b>Browser</b>

Chrome 80.0.3987.163

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/494

Objects may be randomly dropped while being moved, requiring them to be interacted with again.

<b>Visuals</b>

![2020-04-15DecafFaradayChromeDroppedObj](https://user-images.githubusercontent.com/54685448/7

[2020-04-17 00:09] samreid commented on #68
It currently looks like this on the ipad:

![image](https://user-images.githubusercontent.com/679486/79518101-6a9fa900-800d-11ea-9158-d79153322f4a.png)

[2020-04-17 00:10] samreid commented on #68
If i use the window.innerWidth and height, it starts up like this on iPad:

![image](https://user-images.githubusercontent.com/679486/79518142-8d31c200-800d-11ea-82e9-a9e8fe6d0124.png)

[2020-04-17 00:18] samreid commented on #68
I published https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.20/index.html with

SVN 75120
decaf 9c3457c4507add2c4a9c3cd67b38d6954fbadc87
chipper 7fabe653c04e70c1c5c2953b0b2d9cc45d2c9c87

@KatieWoe can you please test?

[2020-04-17 00:19] samreid commented on #64
I observed this during testing on my iPad 7.

[2020-04-17 00:20] samreid commented on #65
We decided to go with #68, closing.

[2020-04-17 00:20] #65 closed

[2020-04-17 00:23] samreid commented on #69
@pixelzoom would know for sure, but I believe the object is dropped if it crashes into the compass.

[2020-04-17 00:33] pixelzoom commented on #69
The magnet and coil are intended to physically bump into each other.  The drag is not in fact interrupted, but it is behaving oddly (and identically) in both the CheerpJ and Java versions.  It seems to stop dragging, but if you move continue dragging by moving the cursor back inside and outside of the magnet, you'll pick it up again.

My understanding with decaf is that the goal is not to debug th

[2020-04-17 17:06] KatieWoe commented on #62
It also does not reset the position of the generator wheel.
![wheelreset](https://user-images.githubusercontent.com/41024075/79595086-7a65ce80-809b-11ea-8e22-e7511289073d.gif)

[2020-04-17 19:49] KatieWoe commented on #57
Can also happen with sliders
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/41024075/79608433-3cc07000-80b2-11ea-80bc-a1cab1bfedf7.gif)

[2020-04-17 20:08] KatieWoe commented on #64
On IPadOS 13 I'm not seeing it, interestingly enough

[2020-04-17 20:37] loganbraywork opened #70 "Memory Leak Test for Faraday Decaf"
For https://github.com/phetsims/QA/issues/494
Performed on version https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.20/index.html
in 2 minutes intervals for 14 minutes.

<b> Test Device </b>

Windows 10 Laptop

<b> OS </b>

Windows 10 1903

<b> Browser </b>

Chrome v. 80.0.3987.163

<b> Test results for Faraday </b>

![2020-04-17DecafFaradayMemoryLeakFaraday](https://user-images.githubusercon

[2020-04-17 21:05] samreid opened #71 "Publish faraday suite 1.0"
We decided to publish at :

[code]

Or if we decide to create one file per sim/locale:
[code]

I'm waiting to hear if https://github.com/phetsims/decaf/issues/68 is good enough (we noticed it cuts things off on iPhone landscape), and to see if anything else comes from RC testing.

[2020-04-17 21:06] samreid commented on #68
@kathy-phet and @samreid noticed that dev.20 cuts off the bottom of the sim on iPhone landscape.  @kathy-phet does this warrant investigation before publication?

[2020-04-17 21:36] kathy-phet commented on #68
If it works on the iPad - let's publish. We can tweak later if we figure something out.

[2020-04-17 23:00] samreid commented on #68
@KatieWoe reported it loaded properly (could see the bottom of the reset all button) on her test iPad.

[2020-04-18 02:38] samreid commented on #71
In #68 @kathy-phet said:

@KatieWoe reported that it loaded the screen size properly on her test iPad.

[2020-04-18 02:55] samreid commented on #71
It looks like the directory is something like /data/web/static/phetsims/sims

[2020-04-18 03:00] samreid commented on #71
I tried logging in and creating a directory, but I think it created with the wrong group.  I'll delete it and wait for help from @mattpen .

[2020-04-18 03:59] samreid commented on #71
@mattpen and I published this in https://phet.colorado.edu/sims/cheerpj/faraday/latest/faraday.html?simulation=faraday and I'll commit revised publication instructions shortly.

[2020-04-18 04:07] samreid opened #72 "Version number in the simulation is stale"
During #71 I noticed that the version in the title bar doesn't match the decaf version number:

![image](https://user-images.githubusercontent.com/679486/79627705-aadb5600-80f7-11ea-8387-d936f9d60b0a.png)

We may wish to improve this.

Assigned to @kathy-phet for prioritization.

[2020-04-18 04:39] kathy-phet commented on #72
This is just a stop gap solution so I am ok with this discrepancy. The version does represent the java version number.

Kathy

Sent from my iPhone

On Apr 17, 2020, at 10:07 PM, Sam Reid <notifications@github.com> wrote:

﻿

During #71<https://github.com/phetsims/decaf/issues/71> I noticed that the version in the title bar doesn't match the decaf version number:

[image]<https://user-images.github

[2020-04-18 16:27] samreid commented on #9
For the publications, I'll use SVN 75120 and chipper f907d6195e39579e4d0dd6d92428b84c2ad3eb8c and decaf (before builds) 719f53019353451f135a39bda458209e5cb79dd4.

For the sims identified in this issue:

[code]

@KatieWoe can you check that I didn't miss any?

[2020-04-18 17:38] samreid commented on #9
https://phet-dev.colorado.edu/decaf/battery-voltage/1.0.0-dev.3/index.html
https://phet-dev.colorado.edu/decaf/fluid-pressure-and-flow/1.0.0-dev.4/index.html?simulation=fluid-pressure-and-flow

Discharge lamps fails with

[code]

[2020-04-19 00:27] samreid opened #73 "Browser tab title could be more specific"
At the moment, it reads "PhET Java CheerpJ", but we could have it indicate the simulation name.

![image](https://user-images.githubusercontent.com/679486/79674628-314c7200-81a2-11ea-9b8f-a3ac1fffff39.png)

[2020-04-20 00:09] mattpen commented on #71
Removing assignment, happy to help further if needed.

[2020-04-20 14:25] samreid commented on #71
Publication complete and this was shared on twitter, closing.

[2020-04-20 14:25] #71 closed

[2020-04-20 16:56] samreid commented on #21
On Slack, @kathy-phet indicated it would be nice to profile sims such as Reactions and Rates, and report to CheerpJ to see if they have an opportunity for optimization.

I noted that Reactions and Rates is spending 30% of its time in something called `_Java_sun_java2d_loops_TransformHelper_Transform.`

[2020-04-20 16:59] ariel-phet commented on #73
@samreid - our convention for HTML5 sims is is just shows the simulation, so that would be a better experience certainly.

However, how much work would it be to make that improvement. If it is more than a couple of hours it is not worth it at this point.

If making the simulation title appear is a fair bit of work, I would make this tab simply say "PhET". "PhET Java CheerpJ" is going to be meaning

[2020-04-20 17:00] samreid commented on #21
@kathy-phet recommended to profile some of the more popular java sims.  Leaving self-assigned to do so.  For timing, @kathy-phet said:

[2020-04-20 17:26] samreid commented on #73
There are a few possibilities along this spectrum:

1. Fully automate and support all languages: Read from the simulation.properties file to get a list of the simulations, then look up their translated names (for all languages).  Put these into the HTML file, then check the query parameter and update the page title accordingly.  3-5 hours.
2. Fully automate, but only for English.  Like the above,

[2020-04-20 17:57] kathy-phet commented on #73
Given the other priorities and the fact that we want to expedite making these visible, I would recommend just having them all say the same thing - maybe "PhET Simulation" (not just PhET).

[2020-04-20 17:58] kathy-phet commented on #72
@samreid - I'm closing this issue, but reopen if needed.

[2020-04-20 17:58] #72 closed

[2020-04-20 17:58] samreid commented on #73
Implemented in the above commit.

[2020-04-20 18:04] kathy-phet commented on #66
@samreid - Can this be closed?

[2020-04-20 18:07] kathy-phet commented on #69
Thanks for the catch. I agree with @pixelzoom here. Marking this as "will not fix" and closing it.

[2020-04-20 18:07] #69 closed

[2020-04-20 19:43] #66 closed

[2020-04-20 20:00] KatieWoe commented on #9
@samreid it looks like some were missed. Reversible Reactions and Sound have the issue. Glaciers doesn't load on Mac at least, it does on Windows (it doesn't load in Mac on java) and it may need more intense look at platforms. Above, Plate Tectonics is only mentioned for Mac, but it also doesn't work on Windows.

[2020-04-20 21:39] KatieWoe opened #74 "Energy in graph may not reflect energy in play area"
For early reaction rates testing in https://github.com/phetsims/QA/issues/495#event-3252666298. Occurs in the java version of the sim.
Found in the Many Collisions screen. When you change the temperature with one reaction combo, then change that combo, the total energy in the graph retains the old changed setting, even though it should be reset. It behaves as though the energy is reset, and the th

[2020-04-20 22:21] KatieWoe commented on #74
Happens on the third screen as well.

[2020-04-20 22:43] KatieWoe opened #75 "Reaction Rates on IE unusably slow"
For Reaction Rates testing in https://github.com/phetsims/QA/issues/495#event-3252666298.
On Win 10 IE the sim is so slow while multiple atoms are in the play area that you only get one frame every 10 seconds at times. There also seem to be more graphics being cut off. May not be a concern as this is IE.
![unusablyslow](https://user-images.githubusercontent.com/41024075/79806618-1440ac00-8326-11ea

[2020-04-21 03:58] samreid opened #76 "Streamline the deployment process"
In slack, I reported:

@kathy-phet replied:

[2020-04-21 16:23] KatieWoe opened #77 "Rates and Reactions Atom can get stuck in wall"
For Rates and Reactions testing in https://github.com/phetsims/QA/issues/495#event-3252666298. Found on iPadOS 13. Seems to be a java issue, but I can't seem to find a way to intentionally reproduce.
On the first screen, if an atom is near the wall (possibly just the launcher) when the other atom/molecule hits it, it can be shoved into the wall. It doesn't move after this, and is pushed further in

[2020-04-21 16:40] KatieWoe commented on #77
Managed to get it to happen again. Played with the temperature to adjust the atoms movement, but still not much in the way of concrete steps.

[2020-04-21 17:00] KatieWoe opened #78 "Should you be able to bring up the keyboard on iPad?"
For Rates and Reactions (and other sims) in https://github.com/phetsims/QA/issues/495. There are instances in the java sim where you can type in values directly with the keyboard, such as the number atoms you want in the sim. On devices like Windows, this works fine with the keyboard from what I've seen. However, on the iPad, there does not seem to be a way to do this, at least that I've seen. You

[2020-04-21 17:40] samreid opened #79 "Publish a batch of sims as candidates for publication"
# Ready for Testing

https://phet-dev.colorado.edu/decaf/battery-resistor-circuit/1.0.0-dev.15/battery-resistor-circuit.html
https://phet-dev.colorado.edu/decaf/battery-voltage/1.0.0-dev.4/battery-voltage.html

https://phet-dev.colorado.edu/decaf/bound-states/1.0.0-dev.4/bound-states.html?simulation=bound-states
https://phet-dev.colorado.edu/decaf/bound-states/1.0.0-dev.4/bound-states.html?simulat

[2020-04-21 17:53] kathy-phet commented on #76
Sam - let's have you be the point person on the build and deploy for this for now. Thanks.

[2020-04-21 18:03] KatieWoe opened #80 "Sliders may be hard to grab"
For reactions and rates in https://github.com/phetsims/QA/issues/495, but also seen in https://github.com/phetsims/QA/issues/494, so it seems to be a more general issue. Hard to record or reproduce consistently. Have seen on iPad touch screens and on trackpads.
When grabbing a slider (for reactions and rates this is generally the temperature control) sometimes it will move only a little and not se

[2020-04-21 18:30] KatieWoe commented on #80
I think I've figured out what causes `When grabbing a slider (for reactions and rates this is generally the temperature control) sometimes it will move only a little and not seem to drag with your finger.`
If, instead of grabbing the tag, you grab the bar, this occurs. It is easier to do with touch, which is why I saw it more there.

[2020-04-21 18:34] KatieWoe commented on #80
Confirmed that https://github.com/phetsims/decaf/issues/80#issuecomment-617337564 happens with the original java.

[2020-04-21 23:26] lmulhall-phet opened #81 "In FPAF, moving hose causes scene to disappear"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.2

<b>Browser</b>

Chrome 81.0.4044.113

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/495. Also for general decaf testing. Seen in https://phet-dev.colorado.edu/decaf/fluid-pressure-and-flow/1.0.0-dev.6/fluid-pressure-and-flow.html.

If you move the hose while the water tower is emptying, part of the sim

[2020-04-22 02:48] samreid opened #82 "Scala projects don't build."
From #79, we detected that the 2 scala projects won't build.

motion-series (scala complication)
ladybug-motion-2d (scala complication)

[2020-04-22 02:51] kathy-phet commented on #79
Please do include both greenhouse and natural selection, thanks!

[2020-04-22 02:53] samreid commented on #79
Will do, thanks!

[2020-04-22 03:17] samreid commented on #82
Fixed by reverting to Java 7 and specifying 3 type parameters, closing.

[2020-04-22 03:17] #82 closed

[2020-04-22 03:36] samreid opened #83 "Discharge lamps fails due to missing convolve op"
As identified in https://github.com/phetsims/decaf/issues/9#issuecomment-615909657 and noted again in https://github.com/phetsims/decaf/issues/79
Discharge Lamps fails with a missing Convolve Op.

If I comment out the blurring of the coils as they heat up, we can skip this problem.

https://phet-dev.colorado.edu/decaf/discharge-lamps/1.0.0-dev.3/discharge-lamps.html

@kathy-phet what do you recomm

[2020-04-22 05:39] samreid commented on #76
The process seems to be working acceptably well at the moment.  We will have an opportunity to test the "promote dev version to production" version part after more testing completes.  Closing.

[2020-04-22 05:39] #76 closed

[2020-04-22 06:01] samreid commented on #79
Batch is published, we will continue in other issues.  Closing.

[2020-04-22 06:01] #79 closed

[2020-04-22 06:01] samreid commented on #68
Reducing priority based on the past 2 comments.

[2020-04-22 06:04] samreid commented on #9
These sims were republished in https://github.com/phetsims/decaf/issues/79 and we can discuss testing them in https://github.com/phetsims/QA/issues/495 and https://github.com/phetsims/QA/issues/497

@KatieWoe can this issue be closed or priority reduced?

[2020-04-22 14:45] KatieWoe commented on #9
I would say it can be closed if https://github.com/phetsims/decaf/issues/9#issuecomment-616777373 was addressed. Otherwise it is up to you and if you want this issue for tracking. Same for priority.

[2020-04-22 14:48] samreid commented on #9
Reversible Reactions, and Glaciers were published in https://github.com/phetsims/decaf/issues/79

Sound and plate tectonics have native code failures at runtime.

[2020-04-22 14:48] #9 closed

[2020-04-22 18:47] KatieWoe opened #84 "Capacitor Lab Electric Field Detector does not work"
For https://github.com/phetsims/QA/issues/497. https://phet-dev.colorado.edu/decaf/capacitor-lab/1.0.0-dev.3/capacitor-lab.html?simulation=capacitor-lab on Win 10 Chrome.
The Electric Field Detector tool gives blank results, no matter what the electric field really is.
In Java:
![shouldbe](https://user-images.githubusercontent.com/41024075/80021133-4faeb800-8497-11ea-8685-29c5fde5e18c.png)
In Chee

[2020-04-22 21:56] loganbraywork commented on #20
For https://github.com/phetsims/QA/issues/497

This issue is still present on Windows 10 Firefox in the latest dev version of Fourier, specifically the sound issue

[2020-04-22 22:39] loganbraywork opened #85 "Fourier Sound button causes crash"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 v. 1903

<b>Browser</b>

Firefox 75

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/497

If the sound box is checked, the sim crashes. The following is the error caught right before the sim crashes.

Reporting error: uncaught exception: out of memory/undefined loader.js:3054:10

<b>Steps to Reproduce<

[2020-04-22 22:54] KatieWoe opened #86 "MRI bottom of play area cut off"
For https://github.com/phetsims/QA/issues/497. https://phet-dev.colorado.edu/decaf/mri/1.0.0-dev.4/mri.html on Win 10 Chrome.
The bottom of the play area is cutoff even when the window is at the largest setting. No controls seem lost, but it is obvious and some controls/text are partly obscured.
Java:
![notcutoff](https://user-images.githubusercontent.com/41024075/80041509-df655e00-84b9-11ea-9bd6-

[2020-04-23 06:26] carlopi opened #87 "React somehow when the java sim is closed via X button"
While in the simulations, clicking the X on the top right of the simulation windows lead to a blank page.
Should some default action happens? (eg go back to a default page)

I expect any simulation / browser combination to behave the same.

[2020-04-23 16:46] samreid opened #88 "Add Molecule Polarity"
Today @ariel-phet recommended to add molecule-polarity to the list of decaf sims, since it has features not yet available in HTML5.

[2020-04-23 16:54] samreid commented on #88
Added and published:
https://phet-dev.colorado.edu/decaf/molecule-polarity/1.0.0-dev.1/molecule-polarity.html?simulation=molecule-polarity

I'll include this in the Java 7 batch, closing.

[2020-04-23 16:54] #88 closed

[2020-04-23 16:55] samreid opened #89 "Publish a Java 7 batch"
We identified that Java 7 is most likely the version we used with our production java sims, and that Java 7 works well with the scala sims in #82.  We should republish a batch with that version.

[2020-04-23 16:58] samreid commented on #83
In 75136 I commented out the blur so I can deploy this with the next batch in #89

[2020-04-23 17:03] samreid commented on #89
I'll use this script:

[code]

Using jdk1.7.0_80.jdk

[2020-04-23 17:06] pixelzoom opened #90 "text quality is not good"
In addition to the artifacts noted on Safari in https://github.com/phetsims/decaf/issues/17,  text quality is generally not good on any macOS browser (Safari, Chrome, Firefox).  I have not checked on Windows.

Here's a comparison:

Java version, nice crisp text:

<img width="1021" alt="screenshot_278" src="https://user-images.githubusercontent.com/3046552/80127947-43d3fc00-8552-11ea-8262-0f3df78e1

[2020-04-23 17:08] pixelzoom opened #91 "Unicode is not rendered correctly"
Unicode (some? all?) is not rendered correctly.  For example, see "°F" in Glaciers:

Java:

<img width="381" alt="screenshot_280" src="https://user-images.githubusercontent.com/3046552/80128214-94e3f000-8552-11ea-9eb6-5bef7c0990cf.png">

CheerpJ:

<img width="375" alt="screenshot_281" src="https://user-images.githubusercontent.com/3046552/80128269-a3320c00-8552-11ea-9f03-76c5f61c4400.png">

[2020-04-23 17:31] pixelzoom opened #92 "Browser zoom leaves the sim is a bad state"
Browser zoom leaves the sim is a bad state.  I'm seeing this with Safari, Chrome, and Firefox on macOS.  I have not tested on Windows or iOS.

Here's an example, Glaciers on macOS 10.15.4 + Chrome 81.0.4044.122.

After "View > Zoom In":

<img width="1536" alt="screenshot_282" src="https://user-images.githubusercontent.com/3046552/80130309-99f66e80-8555-11ea-8d2f-1971b5fccaff.png">

After "View > Z

[2020-04-23 18:06] samreid commented on #89
I parallelized the deploy process and it finished nearly 4x faster.  I created a batch and opened a QA issue.  Closing.

[2020-04-23 18:06] #89 closed

[2020-04-23 18:09] KatieWoe commented on #84
https://github.com/phetsims/QA/issues/499

[2020-04-23 18:09] KatieWoe commented on #9
https://github.com/phetsims/QA/issues/499

[2020-04-23 18:09] KatieWoe commented on #20
https://github.com/phetsims/QA/issues/499

[2020-04-23 18:09] KatieWoe commented on #85
https://github.com/phetsims/QA/issues/499

[2020-04-23 18:09] KatieWoe commented on #86
https://github.com/phetsims/QA/issues/499

[2020-04-23 19:15] KatieWoe opened #93 "Molecule Polarity Spheres around molecules may have blocky areas"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/molecule-polarity/1.0.0-dev.3/molecule-polarity.html?simulation=molecule-polarity on Win 10 Chrome.
On the third screen, the Electrostatic Potential and Electron Density options create spheres over the molecules. Over the molecules, the coloring can be banded or blocky. Does not impact pedagogy from what I can see.

[2020-04-23 20:37] KatieWoe opened #94 "Beta Decay Atom left at start after reset all"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/nuclear-physics/1.0.0-dev.4/nuclear-physics.html?simulation=beta-decay on Win 10 Chrome, but it happens in java, so this is not due to CheerpJ.
On the second screen of Beta Decay (and possibly related sims), if you hit reset all when there is a He-3 atom on the chart, the new page will have a He-3 atom at the very b

[2020-04-23 20:52] KatieWoe commented on #32
Still occurs in https://github.com/phetsims/QA/issues/499

[2020-04-23 22:44] kathy-phet commented on #32
@samreid - Can you look into this bug and whether it is something that should be reported to CheerpJ?

[2020-04-24 17:48] KatieWoe commented on #90
This was seen in Quantum Tunneling, but it also seems to be in java itself.
![winconfig](https://user-images.githubusercontent.com/41024075/80241781-726cd800-8621-11ea-8591-1d98df6d6d32.png)

[2020-04-24 17:55] pixelzoom commented on #90
@KatieWoe please clarify.  The Java version of Quantum Tunneling looks fine to me on macOS:

![screenshot_157](https://user-images.githubusercontent.com/3046552/80242391-85cc7300-8622-11ea-88d0-5f80e41f63aa.png)

[2020-04-24 17:58] KatieWoe commented on #90
It does it if you switch scenes and haven't interacted with anything. So switch to double wells etc, and look before mousing over etc.

[2020-04-24 18:00] pixelzoom commented on #90
@KatieWoe I do not see what you are describing on macOS.  Might you be on Windows, and might this be specific to Windows?

[2020-04-24 18:06] KatieWoe commented on #90
I am on windows, so that is possible. But either way, since it is also on the java version in windows, I don't think it needs to be addressed in the cheerpJ work

[2020-04-24 18:30] KatieWoe commented on #35
Still occurs in https://github.com/phetsims/QA/issues/499

[2020-04-24 20:23] KatieWoe opened #95 "Minus sign for partial water charge boxed out English"
For https://github.com/phetsims/QA/issues/499. Sugar and Salt Solutions https://phet-dev.colorado.edu/decaf/sugar-and-salt-solutions/1.0.0-dev.4/sugar-and-salt-solutions.html?simulation=sugar-and-salt-solutions. Found on Win 10 Chrome.
On the third screen (water) you can look at the partial charges of the water molecules. The negative sign on the oxygen is a block, which we have previously seen in

[2020-04-24 20:46] KatieWoe commented on #48
Seeing this in some other sims in https://github.com/phetsims/QA/issues/499, and I think what may be happening is that the new window isn't closing, but layered behind the main window. In some cases you can drag it out of the way and access the lost window again, but this isn't always possible on all devices (such as ipad) and a solution may still be desired. @samreid

[2020-04-24 22:50] KatieWoe opened #96 "Offsets in panels"
For https://github.com/phetsims/QA/issues/499. Seen on a few sims, and severity depends in large part on platform. This example if from discharge lamps https://phet-dev.colorado.edu/decaf/discharge-lamps/1.0.0-dev.4/discharge-lamps.html on ChromeOS.
Various panels seem to be offset from their original position. This is generally minor, but in some cases it can obscure other sim aspects.
![Screensh

[2020-04-24 22:52] KatieWoe commented on #96
Another, milder example:
![slideroff](https://user-images.githubusercontent.com/41024075/80262869-094e8a00-864c-11ea-9516-024d79dc1579.png)

[2020-04-27 19:18] KatieWoe opened #97 "Eating and Exercise Chromebook layout is unusable"
For https://github.com/phetsims/QA/issues/499
The layout changes on Chromebook for https://phet-dev.colorado.edu/decaf/eating-and-exercise/1.0.0-dev.4/eating-and-exercise.html?simulation=eating-and-exercise cause items to overlap graphs and text to the point that the sim is difficult or impossible to use fully.
![Screenshot 2020-04-27 at 12 58 46 PM](https://user-images.githubusercontent.com/41024

[2020-04-27 20:26] KatieWoe commented on #85
On chromeOS I couldn't seem to even refresh the page at this point, it needed to be entirely closed.

[2020-04-27 20:43] KatieWoe opened #98 "Gene Machine DNA inside toolbox"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/gene-network/1.0.0-dev.4/gene-network.html?simulation=gene-machine-lac-operon found in ChromeOS at default size.
For certain window sizes, the dna strand can end up inside the toolbox. On chromeOS it is just on the edge, making it difficult, but not yet impossible, to use the sim.
![dnaintoolbox](https://user-images

[2020-04-27 21:01] KatieWoe opened #99 "K and F not visible English Greenhouse Sim"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/greenhouse/1.0.0-dev.5/greenhouse.html?simulation=greenhouse
The K and F labels on the thermometers are replaced by boxes in the English Version.
![KandF](https://user-images.githubusercontent.com/41024075/80420439-01832580-8898-11ea-954e-75fe2ca1ea5b.png)

[2020-04-27 21:52] KatieWoe commented on #96
Particularly noticeable ones on Lasers ChromeOS
![Screenshot 2020-04-27 at 3 39 57 PM](https://user-images.githubusercontent.com/41024075/80424512-20d18100-889f-11ea-99dd-8683d0394dea.png)
![Screenshot 2020-04-27 at 3 40 22 PM](https://user-images.githubusercontent.com/41024075/80424513-216a1780-889f-11ea-87e4-0663200bfda1.png)

[2020-04-27 22:42] loganbraywork opened #100 "Moving hose above tank in Fluid Pressure and Flow breaks Water tower screen"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 1903

<b>Browser</b>

Edge 81.0.416.64

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/499

On the Water Tank screen, if the hose is raised above the tank a white box obscuring the screen appears. Switching away from the screen and back results in a completely blank screen. This behavior is not presen

[2020-04-27 22:47] KatieWoe commented on #98
Bits of Moving Man sliders can be lost in the same way https://phet-dev.colorado.edu/decaf/moving-man/1.0.0-dev.12/moving-man.html?simulation=moving-man

[2020-04-27 22:55] KatieWoe commented on #86
The whole control panel is cut off in ChromeOS

[2020-04-27 23:02] loganbraywork opened #101 "Possible to lose the Free Body Diagram in Forces-1d"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 1903

<b>Browser</b>

Edge 81.0.416.64

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/499

It is possible to lose the Free Body Diagram if it is windowed and another item is checked or unchecked. This behavior does not occur in Java.

<b>Steps to Reproduce</b>

1. Check the window icon at the top rig

[2020-04-28 15:49] samreid commented on #21
On slack, I asked

and @KatieWoe said:

[2020-04-28 15:57] samreid commented on #21
https://phet-dev.colorado.edu/decaf/hydrogen-atom/1.0.0-dev.4/hydrogen-atom.html looks like 60% is being spent in RepaintManager.doublebuffered (with the "on" button pressed)

![image](https://user-images.githubusercontent.com/679486/80509302-77d66500-8936-11ea-96b3-54e39555de0d.png)

With 15% spent in `putImageData`

![image](https://user-images.githubusercontent.com/679486/80509414-9e949b80-8936

[2020-04-28 16:04] samreid commented on #21
In https://phet-dev.colorado.edu/decaf/hydrogen-atom/1.0.0-dev.4/hydrogen-atom.html on Mac/Chrome after pressing the "on" button, looks like 60% is being spent as a result of RepaintManager.doublebuffered.

In https://phet-dev.colorado.edu/decaf/conductivity/1.0.0-dev.4/conductivity.html, turning the voltage up to 2.0 Mac/Chrome shows 50% time spent in _Java_sun_java2d_loops_ScaledBlit_Scale, and

[2020-04-28 16:47] KatieWoe opened #102 "Beta Decay long times cause text overlap"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/nuclear-physics/1.0.0-dev.4/nuclear-physics.html?simulation=beta-decay. Particularly seen on ChromeOS.
On the second screen, when looking at Carbon, you can often get long decay times. If they get long enough to need scientific notation, the exponent can overlap with other numbers. They can also go outside their box

[2020-04-28 18:27] KatieWoe commented on #96
On photoelectric ChromeOS the percentage box is covered by the slider.

[2020-04-28 19:08] KatieWoe opened #103 "Wave Interference left laser won't work if too close together"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/quantum-wave-interference/1.0.0-dev.4/quantum-wave-interference.html?simulation=quantum-wave-interference in smaller window. Happens automatically in ChromeOS. If the window is too small the control panel for the left laser on the 2 Lasers screen is cut off. But more worrying is that the left laser won't activate at

[2020-04-28 19:37] loganbraywork commented on #99
Same issue appears in glaciers

[2020-04-28 21:12] KatieWoe opened #104 "Number of buttons are the wrong color"
For https://github.com/phetsims/QA/issues/499. Happens in a number of sims. Doesn't largely impact usability, so I hadn't noticed until comparing to java version. Independent of system.
Some buttons that should be one color (generally grey) are instead a color that generally matches something in the play area (such as green).
Example from The Ramp.
Java:
![javabuttons](https://user-images.githubus

[2020-04-28 21:24] lmulhall-phet commented on #100
This is a duplicate of https://github.com/phetsims/decaf/issues/81.

[2020-04-28 23:02] lmulhall-phet opened #105 "When heating molecules, parts of Reversible Reactions freeze"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.2

<b>Browser</b>

Google Chrome 81.0.4044.122

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/499.

If you heat a molecule for long enough, the scene and some buttons freeze and/or exhibit incorrect behavior. For instance, the reset button no longer resets the scene.

<b>Steps to Reproduce</b>

1. Add a m

[2020-04-28 23:05] KatieWoe opened #106 "iPad cannot select energy levels"
For https://github.com/phetsims/QA/issues/499. Band Structure and related sims. It is seemingly impossible to select the different energy levels on the iPad with touch. Either using the magnifying glass or not. It may be due to the small touch area, but after several tries I have not managed to select one.

[2020-04-28 23:27] KatieWoe opened #107 "iPad cannot exit dialog"
For https://github.com/phetsims/QA/issues/499. Seen on Discharge lamps https://phet-dev.colorado.edu/decaf/discharge-lamps/1.0.0-dev.4/discharge-lamps.html. Only on iPad/touch so far. If you open the "View Picture of Actual Discharge Lamps" window, you cannot click the x. You can click outside the window to leave, but then cannot bring it back up again.

[2020-04-28 23:37] KatieWoe commented on #107
You also cannot drag the window around as you can for other platforms.

[2020-04-29 16:33] KatieWoe opened #108 "Gene Machine items can jump around when drug with touch"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/gene-network/1.0.0-dev.4/gene-network.html?simulation=gene-machine-lac-operon on iPadOS 13 Safari. When dragging objects with touch in the play area they may jump away and not stay under the finger. This does not seem to be an issue when dragging from the toolbox, but if an item is outside it when picked up (RNA Pol

[2020-04-29 16:54] KatieWoe opened #109 "Show real glacier image does not come up"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/glaciers/1.0.0-dev.4/glaciers.html. Similar to https://github.com/phetsims/decaf/issues/32.
When you click the "Show real glaciers" button, the image is blank and see through, leaving just a line and x button to show anything happened.
![showrealglacier](https://user-images.githubusercontent.com/41024075/80623628-b7

[2020-04-29 19:18] KatieWoe opened #110 "Microwave sliders may not reset properly"
For https://github.com/phetsims/QA/issues/499. https://phet-dev.colorado.edu/decaf/microwaves/1.0.0-dev.4/microwaves.html on iPadOS 13.
When you grab the sliders in these sims and let go of them while not fully on the track (particularly easy to do if the tab is at the end of the track) then they will not reset properly. The value resets, but the slider position does not.
![slidersmaynotresetposit

[2020-04-29 19:35] loganbraywork commented on #94
Same issue occurs in the single atom screen of Alpha Decay when Custom Nucleus selected

[2020-04-29 19:56] KatieWoe opened #111 "Robot Moving Company needs keyboard"
For https://github.com/phetsims/QA/issues/499. Seen in game portion of sims such as https://phet-dev.colorado.edu/decaf/motion-series/1.0.0-dev.4/motion-series.html?simulation=forces-and-motion on iPadOS 13. Since the iPad does not generally have a keyboard, it is not possible to start the game, let alone play it.

[2020-04-29 19:59] lmulhall-phet commented on #99
I believe this is an instance of https://github.com/phetsims/decaf/issues/91.

[2020-04-29 20:16] lmulhall-phet commented on #98
Messing around with the screen size in Chrome devtools leads to some undesirable behavior as well:

![issue](https://user-images.githubusercontent.com/31285590/80642605-f78e2d80-8a23-11ea-9abf-c8781b919953.png)

[2020-04-29 20:49] KatieWoe commented on #110
Happens with similar sliders in other sims, such as number controls for nuclear fission.

[2020-04-29 21:06] KatieWoe commented on #78
This makes the game in https://phet-dev.colorado.edu/decaf/nuclear-physics/1.0.0-dev.4/nuclear-physics.html?simulation=radioactive-dating-game impossible as you cannot enter the answer. For https://github.com/phetsims/QA/issues/499

[2020-04-29 22:13] loganbraywork opened #112 "Ladybug Torque labels obscure some checkboxes"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 v.1903

<b>Browser</b>

Edge Version 81.0.416.64

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/499
Sim https://phet-dev.colorado.edu/decaf/rotation/1.0.0-dev.4/rotation.html?simulation=torque

Offset Radius of Force label make it impossible to check some boxes on the Torque screen.

<b>Visuals</b>

[2020-04-29 22:14] KatieWoe commented on #112
Note that this can be overcome by minimizing the interfering graph.

[2020-04-30 01:28] samreid commented on #21
@kathy-phet said:

[2020-04-30 01:28] #21 closed

[2020-04-30 18:33] KatieWoe commented on #101
Reason in this and other sims described here: https://github.com/phetsims/decaf/issues/48#issuecomment-619231444

[2020-04-30 19:47] loganbraywork commented on #97
This same issue appears on Edge and IE if the window is smaller

[2020-04-30 22:18] lmulhall-phet commented on #57
For https://github.com/phetsims/QA/issues/499. I'm seeing something similar in Quantum Wave Interference:

![issue](https://user-images.githubusercontent.com/31285590/80764552-2bd61c80-8afe-11ea-8c2f-4a4cec8f9ebd.png)

@KatieWoe, let me know if you'd like a separate issue made.

[2020-04-30 22:36] lmulhall-phet opened #113 "Artifacts trailing behind stopwatch"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.2

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/499. See title and gif. The stopwatch also seems to flicker into the upper left corner of the scene.

<b>Visuals</b>

![issue](https://user-images.githubusercontent.com/31285590/80765607-adc74500-8b00-11ea-9ed2-70dce6512766.gif)

[2020-04-30 22:39] samreid commented on #113
Does it happen on other browsers too?

[2020-04-30 22:43] lmulhall-phet commented on #113
I'm not seeing the trailing artifacts on Firefox or Safari, but I am seeing the stopwatch flicker into the upper left corner.

[2020-04-30 22:44] lmulhall-phet commented on #113
Possibly related to https://github.com/phetsims/decaf/issues/57.

[2020-05-01 00:00] lmulhall-phet commented on #95
Possibly https://github.com/phetsims/decaf/issues/91.

[2020-05-04 19:29] oliver-phet commented on #96
@samreid is going to add common code to handle resize by marking sims as either needing to resize or not.

[2020-05-04 19:30] oliver-phet commented on #97
Likely related to https://github.com/phetsims/decaf/issues/96. @samreid is going to add common code to handle resize by marking sims as either needing to resize or not.

[2020-05-04 19:44] oliver-phet commented on #105
We're going to defer on this because it seems to be a narrow case.

[2020-05-04 19:44] #105 closed

[2020-05-04 19:50] KatieWoe commented on #110
This should be brought to attention of CheerpJ @samreid

[2020-05-04 19:55] oliver-phet commented on #86
Related to https://github.com/phetsims/decaf/issues/96

[2020-05-04 19:57] oliver-phet commented on #32
@samreid will remove button to image, then publish.

[2020-05-04 23:02] samreid commented on #96
At today's meeting, we agreed the solution to this problem is to add an option for a simulation to identify itself as a fixed size frame, and cannot be made smaller by the initial browser dimensions.  This means these sims will show scrollbars when launched in a browser with smaller dimensions than the requested dimensions.

We want to apply this pattern to:
* discharge-lamps
* Eating and Exercise

[2020-05-04 23:53] samreid commented on #107
Today we agreed we should reach out to CheerpJ to ask if they can add touch support for the closing the window by the "x".

[2020-05-04 23:54] samreid commented on #108
In today's meeting, we agreed to report this to CheerpJ.

[2020-05-05 00:04] samreid commented on #110
@KatieWoe do you think this is related to #108?

[2020-05-05 00:08] samreid commented on #32
Committed in 75139

[2020-05-05 00:16] samreid commented on #32
Published in https://phet.colorado.edu/sims/cheerpj/nuclear-physics/latest/nuclear-physics.html?simulation=nuclear-fission

Reassigning to @KatieWoe and @oliver-phet for next steps, if any.

[2020-05-05 11:55] samreid commented on #96
Two problems so far as I investigate this:

* If I use the chrome dev tools to uncheck "body position:fixed", then the scrollbars appear and have the right size.

![image](https://user-images.githubusercontent.com/679486/81063393-ee261a80-8e94-11ea-9ce1-edf177b1c3b0.png)

However, if I change that in the code, then it comes up without scroll bars, and you cannot see the entire application window

[2020-05-05 12:10] samreid commented on #96
For reference, here is the Java side patch:

<details>

[code]

</details>

[2020-05-05 14:16] samreid commented on #96
Even after the frame is resized, there are painting area problems:

![Kapture 2020-05-05 at 8 15 43](https://user-images.githubusercontent.com/679486/81076290-b9bc5980-8ea8-11ea-987f-684dd6135fc7.gif)

[2020-05-05 14:20] samreid commented on #96
I tried scaling down the sim div:

[code]

But that threw off the mouse inputs (where you click is not scaled).

[2020-05-05 14:28] samreid commented on #96
I messaged slack:

[2020-05-05 14:43] KatieWoe commented on #110
It doesn't really seem like it to me, but I don't quite understand the code behind it, so it could be a different expression of the same bug. You'd be a better person to tell in that case.

[2020-05-05 14:48] samreid commented on #96
Committed the Java side in 75140.

[2020-05-05 14:55] samreid opened #114 "Simulations are pointing to https://cjrt.leaningtech.com/20200409_2/loader.js"
Is that a long term stable URL?  Is it CDN'ed the same as the usual URLs?  Which URL should we use?  Will we require re-testing?

[2020-05-05 15:20] KatieWoe commented on #32
Confirmed that the button is gone in Win 10 chrome

[2020-05-05 15:49] samreid commented on #114
I reached out to CheerpJ:

[2020-05-05 16:04] samreid commented on #98
We decided to apply the minimum size strategy from #96

[2020-05-05 16:12] samreid commented on #98
Proposed fix published in dev.5 (on dev and production). @KatieWoe does this fix the problem?

[2020-05-05 16:14] KatieWoe commented on #98
Looks like (Small Win 10 Chrome window)

[2020-05-05 16:15] samreid commented on #98
Thanks!  Closing.

[2020-05-05 16:15] #98 closed

[2020-05-05 16:38] samreid commented on #96
I published this batch, @KatieWoe can you please test the versions using the "latest" production links, like https://phet.colorado.edu/sims/cheerpj/rotation/latest/rotation.html?simulation=torque

Note that projects with multiple sims should have all sims retested.  For example, the rotation project had to use the sim strategy for both sims.

[2020-05-05 19:19] KatieWoe commented on #96
- [ ] discharge-lamps
- [ ] Eating and Exercise
- [ ] Gene Machine
- [ ] Lasers
- [ ] MRI
- [ ] photoelectric effect
- [ ] Rotation - torque
- [ ] Rotation - rotation

[2020-05-05 21:21] KatieWoe commented on #96
Rotation sims: I noticed that dragging out side the window may cause the force arrows to act odd, but I can't reproduce for a recording and it doesn't seem pressing.

[2020-05-05 21:31] KatieWoe commented on #96
It looks like Rotation - rotation could actually benefit from this change, though not as drastically:
![rotationneeds](https://user-images.githubusercontent.com/41024075/81118061-6e746c00-8ee5-11ea-83d9-ecdb9c99feaa.png)
Otherwise, things look good on a small Win 10 Chrome window @samreid

[2020-05-06 15:02] samreid commented on #114
CheerpJ replied:

[2020-05-06 15:02] #114 closed

[2020-05-06 15:10] samreid commented on #96
I'll mark for design meeting discussion of the last comment.

[2020-05-07 14:53] samreid opened #115 "Remove gas properties and under-pressure flavors"
They have already been converted to HTML5 and we shouldn't bundle them in the deliverables.  Until this is complete, we will need to be careful to avoid wasting time testing them.

[2020-05-08 16:57] samreid opened #116 "Publish secondary batch of simulations"
These notes are duplicated in the spreadsheet and across other issues, from meeting on May 8 with @kathy-phet @oliver-phet @samreid and @KatieWoe.  I indicated I would be able to work on these issues starting Tuesday May 12 at the earliest.

CheerpJ Friday May 8

Capacitor Lab: 1st step, disable the checkbox.  Don't change the text.
But investigate how to get the arrow going on. 15 minutes first.

[2020-05-12 03:43] samreid commented on #84
I tried converting PComposite => PNode and also disabling clipping in the PClip and neither had any effect.  I'll disable the checkbox and mark this for discussion with CheerpJ.

[2020-05-12 03:53] samreid commented on #84
Published here: https://phet.colorado.edu/sims/cheerpj/capacitor-lab/latest/capacitor-lab.html

@oliver-phet can you please add it to the document?  Perhaps indicate that the Electric Field Detector checkbox has been disabled?

Let's also leave this issue open to track discussing with CheerpJ.

[2020-05-12 03:57] samreid commented on #100
Closing as duplicate, thanks!

[2020-05-12 03:57] #100 closed

[2020-05-12 04:04] samreid commented on #81
I disabled the hose checkbox and icon and published
https://phet.colorado.edu/sims/cheerpj/fluid-pressure-and-flow/latest/fluid-pressure-and-flow.html

@oliver-phet can you please add it to the list?

Let's leave this issue open as a reference to discuss with CheerpJ

[2020-05-12 04:13] samreid commented on #85
I disabled the sound controls in https://phet.colorado.edu/sims/cheerpj/fourier/latest/fourier.html

@oliver-phet can you add to the list with a note that sound is disabled?

Let's leave this issue open as a reference for CheerpJ.

[2020-05-12 04:27] samreid commented on #109
Published here: https://phet.colorado.edu/sims/cheerpj/glaciers/latest/glaciers.html
@oliver-phet can you add it to the list?

Afterwards, this issue can be closed.

[2020-05-12 04:36] samreid commented on #99
Glaciers published here https://phet.colorado.edu/sims/cheerpj/glaciers/latest/glaciers.html

Greenhouse published here: https://phet.colorado.edu/sims/cheerpj/greenhouse/latest/greenhouse.html

@oliver-phet can you please add them to the list?

[2020-05-12 19:22] oliver-phet commented on #84
Added to doc.

[2020-05-12 19:24] oliver-phet commented on #81
Added!

[2020-05-12 19:26] oliver-phet commented on #85
Added!

[2020-05-12 19:27] oliver-phet commented on #109
Added.

[2020-05-12 19:27] #109 closed

[2020-05-12 19:28] oliver-phet commented on #99
Added.

[2020-05-12 19:28] #99 closed

[2020-05-12 19:29] oliver-phet commented on #116
All these have been published to the public-facing CheerpJ doc, removing my assignment.

[2020-05-13 18:50] samreid commented on #95
If I replace it with the letter "d", it looks like this:

![image](https://user-images.githubusercontent.com/679486/81852392-2f16d280-9518-11ea-85ff-68c5337e6549.png)

@kathy-phet @arouinfar does this seem OK with you or what do you recommend?

[2020-05-13 18:53] kathy-phet commented on #95
I would probably use just + and -, without any additional letter.
@emily-phet - What do you think?

[2020-05-13 18:54] samreid opened #117 "Review all sims to see if we want to apply the minimum (fixed) size workaround"
In https://github.com/phetsims/decaf/issues/116#issue-614862244 we said:

Wait for KP to review the batch of minimum size.
I'll change the ones that say KP votes yes.

[2020-05-13 18:54] kathy-phet commented on #95
But Sam, I am confused, because the box is on the negative sign, not on the delta. So why can't you use the delta?

[2020-05-13 18:56] samreid commented on #95
Wow, great point!  I'll try that.  Thanks.

[2020-05-13 18:57] samreid commented on #95
Looks much better, thanks!

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/679486/81853131-4b673f00-9519-11ea-9183-a281001abfc6.png">

[2020-05-13 19:39] samreid commented on #95
Published here: https://phet.colorado.edu/sims/cheerpj/sugar-and-salt-solutions/latest/sugar-and-salt-solutions.html

I set up a development environment on a different machine for this deploy, @KatieWoe can you please spend a few minutes testing this on 1-2 platforms as a sanity test?  If it checks out, you can give @oliver-phet the go-ahead to add it to the published list.

[2020-05-13 20:14] KatieWoe commented on #95
Performance is slow, but otherwise looks good on Win 10 Chrome, Firefox, and iPad Safari

[2020-05-13 22:18] oliver-phet commented on #95
Published!

[2020-05-13 22:19] oliver-phet commented on #95
No one else is assigned, can this be closed?

[2020-05-13 22:24] samreid commented on #95
Thanks @oliver-phet and @KatieWoe, closing.

[2020-05-13 22:24] #95 closed

[2020-05-15 03:20] samreid commented on #103
Minimum size was limited as part of https://github.com/phetsims/decaf/issues/116

[2020-05-15 03:32] samreid commented on #35
I fixed this by avoiding a divide by zero error.  But after deploying, the startup sequence is hanging.  But it works on my localhost.  I'm not sure where the problem lies.

[2020-05-15 04:17] samreid commented on #116
I reported:

A. In Capacitor Lab: Basics, the Electric Field Detector is supposed to draw text and an arrow, but it comes up blank.  To reproduce this problem:
1. Launch https://phet-dev.colorado.edu/decaf/capacitor-lab/1.0.0-dev.3/capacitor-lab.html?simulation=capacitor-lab
2. Check the "Electric Field Detector" checkbox
3. Observe the empty area in the electric field detector.
It should look mor

[2020-05-15 13:43] samreid opened #118 "Quantum Wave Interference runs from dev but not from production"
Quantum Wave Interference works from our development site but not production site:
1. Launching https://phet-dev.colorado.edu/decaf/quantum-wave-interference/1.0.0-dev.12/quantum-wave-interference.html works great
2. Launching https://phetsims.colorado.edu/sims/cheerpj/quantum-wave-interference/1.0.0-dev.12/quantum-wave-interference.html stalls while loading and I cannot figure out why.

I reached

[2020-05-15 13:45] samreid commented on #116
This batch has been published as far as we can go (https://github.com/phetsims/decaf/issues/118 still needs to be figured out), and we reported problems to CheerpJ, closing.

[2020-05-15 13:45] #116 closed

[2020-05-15 13:46] samreid commented on #118
Also, is this a new problem that would affect other sims?  Maybe we should hold off of redeploys until this is addressed.

[2020-05-15 13:55] samreid commented on #110
Reported in https://app.asana.com/0/1170694439688899/1174393495124033

[2020-05-15 13:56] samreid commented on #108
Reported in https://app.asana.com/0/1170694439688899/1174393495124033

[2020-05-15 13:57] samreid commented on #107
Reported to CheerpJ in https://app.asana.com/0/1170694439688899/1174393495124033

[2020-05-15 13:58] samreid commented on #32
Published, closing.

[2020-05-15 13:58] #32 closed

[2020-05-15 14:48] samreid commented on #26
I tried commenting out the part that loads the system library and forces to use javasound, but ran into downstream problems.

[code]

[code]

[2020-05-15 15:39] samreid commented on #118
@pixelzoom and I discovered it works from

https://phet.colorado.edu/sims/cheerpj/quantum-wave-interference/1.0.0-dev.12/quantum-wave-interference.html

but fails on

https://phetsims.colorado.edu/sims/cheerpj/quantum-wave-interference/1.0.0-dev.12/quantum-wave-interference.html

[2020-05-15 15:39] #118 closed

[2020-05-15 15:42] samreid commented on #35
I published a production version here:

https://phet.colorado.edu/sims/cheerpj/quantum-wave-interference/1.0.0-dev.12/quantum-wave-interference.html

@KatieWoe can you test this and https://github.com/phetsims/decaf/issues/103 ?

If all is well, give Oliver the go-ahead to publish with URL:

https://phet.colorado.edu/sims/cheerpj/quantum-wave-interference/latest/quantum-wave-interference.html

[2020-05-15 18:01] KatieWoe commented on #35
Looks good. Tested on a few platforms. @oliver-phet

[2020-05-15 18:03] oliver-phet commented on #35
Ok I just updated the links to that sim. Closing!

[2020-05-15 18:03] #35 closed

[2020-05-18 17:33] samreid commented on #11
This simulation uses LWJGL 2.9.0.

I tested it again and saw this error message:

[code]

[2020-05-28 22:54] KatieWoe opened #119 "Possible issue in Java sims from fixed size"
Possible issue when running java sims in java caused by https://github.com/phetsims/decaf/issues/96. Noticed on Hanson with the Photoelectric sim. @samreid confirmed that sims that have the fixed size fix for cheerpj will not be able to adjust window size in the java version. Hanson has a high-res screen, and the java sim loads quite small. This causes the issue where needed elements are cut off a

[2020-05-28 22:55] KatieWoe commented on #119
This is the high-res fix btw:
![fix](https://user-images.githubusercontent.com/41024075/83202079-10156480-a104-11ea-86af-2aa140dca6aa.png)

[2020-05-28 22:57] samreid commented on #119
Would it be easy to take a screenshot or photo?

[2020-05-28 22:58] KatieWoe commented on #119
I have the fix on my main computer, so give me a bit to boot up Hanson.

[2020-05-28 23:07] KatieWoe commented on #119
![toosmallwindow](https://user-images.githubusercontent.com/41024075/83202828-b9108f00-a105-11ea-8084-8453ed0b0df4.jpg)
@samreid here you go

[2020-05-31 01:19] samreid opened #120 "Deploy new Spanish translations"
From https://github.com/phetsims/website/issues/997#issuecomment-636115280 we would like to redeploy the following sims:

- [ ] Beta Decay (nuclear physics)
- [ ] Alpha decay (nuclear physics)
- [ ] Radioactive Dating Game (nuclear physics)
- [ ] Photoelectric Effect (photoelectric)
- [ ] Molecular motors (optical-tweezers)
- [ ] Stretching-DNA (optical tweezers)
- [ ] Optical Tweezers and applica

[2020-06-01 14:49] KatieWoe commented on #120
I went back and looked at all the legacy translations since Mar 31 when decaf testing started. These are all that came in, so if any others need to be added, here is the info:

Date of Email | Project | Language (_Country) | Submitter's Email | Submitter's Name | Title of Email | SVN Revision Number
-- | -- | -- | -- | -- | -- | --
5/28/20 | nuclear-physics | es | diana.lopeztavares@colorado.edu |

[2020-06-01 18:20] samreid commented on #120
Here's a checklist that combines the previous 2 comments:

- [ ] nuclear-physics
- [ ] photoelectric
- [ ] optical-tweezers
- [ ] capacitor-lab
- [ ] lasers
- [ ] fluid-pressure-and-flow
- [ ] signal-circuit
- [ ] density-and-buoyancy
- [ ] build-a-molecule
- [ ] microwaves
- [ ] hydrogen-atom
- [ ] molecule-polarity

[2020-06-01 19:28] samreid commented on #120
I deployed the changes for Capacitor Lab.  This is the first time using the translation deploy process for CheerpJ.  @DianaTavares can you please check the Capacitor Lab CheerpJ version and make sure it is OK?  If it is OK, then I'll work on the rest.

[2020-06-01 20:04] DianaTavares commented on #120
It works very well @samreid, Thanks!!

[2020-06-02 14:30] samreid commented on #120
I finished deploying the rest.  @DianaTavares do you mind spot checking a few of them to see if everything went OK?

[2020-06-02 15:00] samreid opened #121 "Redeploy sims that are missing metadata"
faraday and reaction-and-rates need to be redeployed with their locales and projects metadata.

[2020-06-02 15:09] samreid commented on #121
Deployed and I spot checked faraday.  Closing.

[2020-06-02 15:09] #121 closed

[2020-06-02 15:40] DianaTavares commented on #120
It is perfect, thanks @samreid  and @KatieWoe!

[2020-06-02 15:40] #120 closed

[2020-06-11 19:51] samreid commented on #115
Removed, closing.

[2020-06-11 19:51] #115 closed

[2020-07-06 18:18] samreid opened #122 "Some translations are missing"
@mattpen reported:

[code]

[2020-07-06 18:49] samreid commented on #122
Those translation files don't exist in either the cheerpj branch or in trunk.  For instance, see

* https://phet.unfuddle.com/a#/repositories/23262/browse?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Fbattery-resistor-circuit%2Fdata%2Fbattery-resistor-circuit%2Flocalization&commit=75168
* https://phet.unfuddle.com/a#/repositories/23262/browse?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Frea

[2020-07-06 18:54] samreid commented on #122
I also checked the history around every 10000 commits like

* https://phet.unfuddle.com/a#/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Fbattery-resistor-circuit%2Fdata%2Fbattery-resistor-circuit%2Flocalization%2Fbattery-resistor-circuit-strings_ku_TR.properties&commit=60000

and didn't see any hits.

[2020-07-06 19:39] mattpen commented on #122
I don't have a strong understanding of how the java translation process works.  Here's what I discovered based on the documentation from the [Sim Translation workbook](https://docs.google.com/spreadsheets/d/10co5pwJI6HaJq6RD7fX2xVm3Ks1WpYfXei9scnPGKxM/edit#gid=0)

- battery-resistor-circuit ku_TR
    - no entry, all known ku_TR sims were processed in a batch on 8/13/2014
- reactions-and-rates tr

[2020-07-06 21:56] samreid commented on #122
I don't believe the CheerpJ sims contain these translations.  For instance, https://phet.colorado.edu/sims/cheerpj/the-ramp/1.0.0-dev.4/the-ramp.html?locale=sr is mostly English.  Just the common code menus appear to be translated.

![image](https://user-images.githubusercontent.com/679486/86651965-37800c80-bfa1-11ea-8bb9-c480dfd359f7.png)

One possibility could be to use the published JAR files t

[2020-07-28 18:51] KatieWoe commented on #96
A user reported the bottom of Greenhouse Gasses being cut off in a small window, so it may need this fix as well. @samreid

[2020-07-29 15:56] samreid commented on #96
I estimate this would take around an hour to complete for Greenhouse Gases.  @kathy-phet will you please comment on whether to proceed and what priority/timeline?

[2020-07-29 17:36] kathy-phet commented on #96
@KatieWoe - Can you verify this issue with Greenhouse Gases, and paste a picture of what it is looking like.

[2020-07-29 17:43] KatieWoe commented on #96
User submitted image:
![image001](https://user-images.githubusercontent.com/41024075/88833951-5765b300-d190-11ea-80fd-ee6c46368f44.jpg)
Smaller window confirmation:
![smallwindow](https://user-images.githubusercontent.com/41024075/88833990-66e4fc00-d190-11ea-9176-1203ff26572f.png)
Full window comparison:
![fullwindow](https://user-images.githubusercontent.com/41024075/88834186-add2f180-d190-11ea-8

[2020-08-07 17:39] samreid commented on #110
Still no response to that Asana issue.

[2020-08-31 23:21] oliver-phet opened #123 "Remove unintended cheerpj versions from the website"
![image](https://user-images.githubusercontent.com/5090275/91777879-430d3f80-ebae-11ea-85c0-440fdecd9bb9.png)

I was just able to reproduce on MacOS Safari 13.1.2 using https://phet.colorado.edu/sims/cheerpj/quantum-wave-interference/latest/quantum-wave-interference.html?simulation=davisson-germer

[2020-08-31 23:21] oliver-phet commented on #123
@samreid are you able to investigate?

[2020-08-31 23:38] samreid commented on #123
In https://github.com/phetsims/decaf/issues/116#issue-614862244 our consensus was that we wouldn't port Davisson-Germer to CheerpJ.  Does it need to be removed from the sim page or sim database?

[2020-08-31 23:40] oliver-phet commented on #123
@samreid yes - I'm not sure why or how it was published, but if we decided not to port it to CheerpJ, it shouldn't be available on the website.

[2020-08-31 23:43] samreid commented on #123
Davisson Germer was removed as a "flavor" from the CheerpJ branch in SVN 75157, committed May 14, 2020.  Should we check in with @mattpen about how this can be removed from the website?

[2020-09-01 01:22] mattpen commented on #123
I manually set cheerpj to false for davisson-germer in the database. This should be reflected in the website as soon as the cache clears (ETA 15 minutes from the time of this post).

When I was developing the process to add cheerpj sims to the database, I asked @samreid whether we would have a case like this and he said that we would not.  This was likely prior to May 14, but I wasn't aware that t

[2020-09-01 02:44] samreid commented on #123
Not that I'm aware of.

Does the metadata come from the simulation build.properties file, or somewhere else?  For instance, the quantum-wave-interference file only declares one "flavor" now.

Is the case you are describing "a simulation flavor appears in in Java but not CheerpJ" or another case?

[2020-09-01 16:45] mattpen commented on #123
Yes, that is correct

I created an HTTP API for adding these and added a call in the script output that the build script generates.

[2020-09-01 21:24] samreid commented on #123
From slack

[code]

[2020-09-03 15:27] oliver-phet opened #124 "Republish CheerpJ versions to capture new translations"
Our Ukrainian translator has requested we republish the CheerpJ version of several simulations. The Ukrainian translations for these simulations have been updated since the original batch of CheerpJ sims were published.

I'm guessing it is more work to selectively publish sims/translations and it may make sense to just republish the entire list. There are likely other Java translations that have b

[2020-09-03 16:45] samreid commented on #124
Our process only knows how to redeploy all translations for a given sim at the moment.  The process runs faster and requires less babysitting if we redeploy a smaller number of simulations.

Also be aware of #123 which may need to be resolved or worked around before our next deploy.

[2020-09-14 21:12] mattpen commented on #123
These sims have had the cheerpj links removed: davisson-germer, under-pressure

These sims aren't published, so there is no link to fix:  sugar-and-salt-solutions-micro, sugar-and-salt-solutions-macro, aphid-maze

This sim was marked as removed by @samreid, but the cheerpj version is working: gas-properties (see ttps://phet.colorado.edu/sims/cheerpj/ideal-gas/latest/ideal-gas.html?simulation=gas-p

[2020-09-14 21:12] mattpen commented on #123
@samreid - would you be able to answer those questions or know who can?

[2020-09-15 21:58] samreid commented on #123
In https://github.com/phetsims/decaf/issues/115 we decided to remove "gas properties".  Aphid maze was never public.  I don't recall the "micro" and "macro" versions, but they are just simulation subsets (just specific tabs), so they probably don't need to be published.

[2020-09-22 16:53] mattpen commented on #123
I removed the database entry for gas properties so that the link is no longer shown, but I don't think this sim was properly removed from the cheerpj version.

[2020-09-25 08:34] samreid commented on #123
@mattpen can you please comment what remains to be done for this issue?

[2020-09-25 15:58] mattpen commented on #123
1. It looks like ideal gas should be redeployed with gas properties removed.
![image](https://user-images.githubusercontent.com/11747676/94288785-0fa3a380-ff15-11ea-9a19-722d98e093e5.png)

2. I need to update the deployment process to accept a list of simulation names (flavors).

There may be some confusion about the terms I'm using, it looks like what I call projects and simulations you are calli

[2020-09-25 16:14] samreid commented on #123
Can the redeploy step be skipped?  The simulation was removed in 75418 so next redeploy it will be removed.  But if gas-properties has been removed from the database, and we don't provide any links to the popup that says "This program contains 3 simulations", could we save time by not redeploying now?  Redeploying will take an hour or so if nothing goes wrong, so that's why I wanted to double chec

[2020-09-25 16:16] mattpen commented on #123
@samreid - it can be discovered if someone launches https://phet.colorado.edu/sims/cheerpj/ideal-gas/latest/ideal-gas.html. If this is acceptable we can defer a redeploy.

[2020-09-25 16:23] samreid commented on #123
I think the odds of someone launching that URL with no query parameters are low (could maybe be checked with analytics?), hence I'm inclined to hold off on the redeploy.  But this is just a recommendation and not a decision, I'm happy to defer if others feel strongly.

[2020-09-25 17:10] mattpen commented on #123
That's ok with me.  Let's resume this issue when we redeploy for translation updates.

[2020-10-01 18:54] oliver-phet commented on #124
@samreid here are a few projects that would have at least 1 updated translation:

estimation
faraday
fluid-pressure-and-flow

[2020-10-01 18:57] samreid opened #125 "Publish instructions for how to redeploy a batch"
Today we agreed that it would be nice to deploy new translations once a month or so.  So as part of #124 we would like to write up instructions to make it easy for someone else to republish a batch.

[2020-10-01 23:50] samreid commented on #124
Paper trail:

[code]

[2020-10-02 02:13] samreid commented on #124
Here is a more full list of translations:

[code]

[2020-10-02 02:21] samreid commented on #124
Here is the result of the merge.  Maybe this is the actual list of translations?

[code]

[2020-10-02 02:23] samreid commented on #124
And the results of svn status:

[code]

[2020-10-02 02:31] samreid commented on #124
@mattpen said another step must be done before this deployment.  So I have stopped in the steps before "commit the merge".

[2020-10-02 14:16] samreid commented on #124
I did the commit step:

[code]

[2020-10-02 20:16] samreid commented on #124
@mattpen said there is a website deploy step that should happen before this, so we scheduled a time for next week to collaborate on 1st deploy.

[2020-10-04 04:06] mattpen commented on #123
@samreid - we should be ready to proceed with the next round of cheerpj deploys on Monday.

[2020-10-05 17:10] samreid commented on #124
Working together, @mattpen and I deployed quantum-wave-interference and confirmed that the davisson-germer simulation was not affected.

[2020-10-05 17:13] samreid commented on #123
From https://github.com/phetsims/decaf/issues/124#issuecomment-703766499

I also committed a fix that changes the service URL.

[2020-10-05 17:32] samreid commented on #124
I deployed capacitor-lab and confirmed the new text is appearing:
![image](https://user-images.githubusercontent.com/679486/95112617-66239580-06fe-11eb-9b3b-7b86e882402c.png)

[2020-10-05 18:26] samreid commented on #124
I finished the deployment and spot checked a few of the deployments.  No problems noted. @oliver-phet can you ask the translator to spot test a few of the deployments?

[2020-10-05 18:35] samreid commented on #125
For #124 I followed the directions in https://github.com/phetsims/decaf/blob/master/README.md, making revisions where necessary.  The first time someone else runs the process it would be most effective to pair with me, so that we can discuss various failure points, how to test, what it looks like when it is working, etc.

@ariel-phet who else on the team would you like to train on this process?

[2020-10-05 21:54] oliver-phet commented on #124
I just sent an email to the translator, I'll comment when I hear back!

[2020-10-06 16:25] oliver-phet commented on #124
@samreid Nina confirmed all of the translations look good!

[2020-10-06 16:49] samreid commented on #124
Thanks, closing.

[2020-10-06 16:49] #124 closed

[2020-10-06 16:50] samreid commented on #122
I published all new translations in #124, closing.

[2020-10-06 16:51] samreid commented on #122
On second thought, I published the new translations from master but did not double check whether the problems in this issue were covered.

[2020-10-07 00:56] ariel-phet commented on #125
Marking for dev meeting to solicit a volunteer

[2020-10-08 17:08] jessegreenberg commented on #125
During developer meeting 10/8/20 @Denz1994 said he was happy to help with this. He will create a calendar reminder for early november to see if there are any new translations and it is time to run this process again.

[2020-10-08 17:11] samreid commented on #125
@Denz1994 as you follow the instructions for set-up, please revise and improve them as you see deficiencies or problems.

[2020-10-15 18:57] mattpen commented on #123
The latest round of deploys worked nicely and did not readd any problematic links. Closing.

[2020-10-15 18:57] #123 closed

[2020-11-06 21:01] Denz1994 opened #126 "chmod permissions during decaf production deploy"
While following the steps [here](https://github.com/phetsims/decaf/blob/master/README.md#deploy-production), there is a step that requires entering a password after running the outputted script. This password fails on the first attempt and the script has to be run twice (confirmed by @samreid and @Denz1994).

We thought this has something to do with the permissions that are created for the `mkdir`

[2020-11-06 21:14] Denz1994 commented on #125
@samreid and I have completed the steps in the read me linked above. A UK translation of Lady Bug Revolution was built and deployed to production (using a macOS machine). We made some changes to the instruction set as we came across issues.

An issue has created regarding production deploys (related [issue](https://github.com/phetsims/decaf/issues/126)).

Also, this build and deploy process only w

[2020-11-06 21:18] Denz1994 opened #127 "Build and deploy steps for cheerpj sims only work on macOS"
During @samreid and I concluded that the steps to build and deploy cheerpj sims only works on macOS. There are specific paths for the JDK that follow conventions on macOS. This issue is created to determine if we wanted to spend resources making the build and deploy steps cross-platform, like all of our other build and deploy tools. We estimate this could take between 5-20 hours.

Assigning to @ar

[2020-11-06 21:20] Denz1994 commented on #125
This issue is on-hold until a decision is made in https://github.com/phetsims/decaf/issues/127.

Once that is decided it would be nice to have another developer take these steps for a test drive.

[2020-11-07 01:03] ariel-phet commented on #127
@Denz1994 @samreid - I do not think that is necessary at this point. As long as the documentation is clear that the steps can on be performed on macOS that is fine since multiple developers have access to that platform.

[2020-11-07 01:04] #127 closed

[2020-11-07 01:09] samreid commented on #125
We generalized the build and deploy tools and confirmed they work well for @Denz1994 and me.  In https://github.com/phetsims/decaf/issues/127 it was determined that these tools will only be supported on Mac.  @Denz1994 and I recommend having another developer follow the directions to set up their workspace for CheerpJ development, and test out by building and deploying a dev version of a sim.  @ar

[2020-11-09 17:17] mattpen commented on #126
I think using `umask g+w` in phet-admin's `~/.bashrc` should be sufficient, if this script will always be run by phet-admin.   I'm not sure if this is identical to `umask 002` or not, I prefer to use the letter shorthand.  This would also remove the requirement for the use of sudo when running these commands.

[2020-11-10 00:46] ariel-phet commented on #125
@chrisklus is a man with a mac, and is happy to try this procedure out.

[2020-11-12 14:10] chrisklus commented on #125
I was having success following the instructions until I got an error when trying to build a sim:

[code]

Yesterday, @Denz1994 and I attempted to determine the cause of my error, but were not able to find any differences between his state and mine that might explain the failure. Next steps are for us to pair with @samreid for some assistance debugging.

I also recommend the following changes to th

[2020-11-12 16:42] samreid commented on #125
@chrisklus and @Denz1994 and I discussed this today, and determined that one of the steps requires the developer to install IntelliJ IDEA and run one build step from within the IDE.  This is not ideal, since many developers do not have IntelliJ IDEA installed.  So we discussed these 3 possibilities:

1. Require developers to download install and use IntelliJ IDEA
2. Have someone build the classfil

[2020-11-12 17:44] ariel-phet commented on #125
@samreid since we are likely to have CheerpJ sims around for quite some time, (3) seems worthy of some reasonable investigation. I don't think you need to limit yourself to just 1 hour, but let's discuss if it looks like it will be more than 4-5 hours of work. Sometime in the next couple weeks sounds fine, since this is a longterm goal but not an immediate priority

[2020-11-13 01:21] amanda-phet commented on #39
This has been in production for a while, so this can be closed!

[2020-11-13 01:21] #39 closed

[2020-11-16 15:00] samreid commented on #125
I added instructions for compiling the BuildScript without using IntelliJ.  @Denz1994 can you please test out the instructions and the new version of buildDecaf?  If that works out OK, please send back to @chrisklus to continue testing.

[2020-11-17 16:38] Denz1994 commented on #125
Some changes were applied to the documentation to explicitly set the `JAVA_HOME` of the JDK in use. Also the logic to handle this was removed in the svn decaf branch.

The current instruction set has been tested and a successful build was pushed to bayes (found [here](https://phet-dev.colorado.edu/decaf/rotation/1.0.0-dev.11/rotation.html?simulation=rotation)).

@samreid and I advise @chrisklus to

[2020-12-28 18:31] samreid commented on #108
This issue hasn't been assigned to me since May 15, but it still shows up in issue search results for assignee:samreid.  I'm going to try reassigning and unassigning to see if that helps.

[2021-01-29 00:39] samreid commented on #126
Unassigning until next deployment.  At that time, we can try the proposed approach, or invite @mattpen to join for the deployment to assist.

[2021-02-01 17:43] oliver-phet opened #128 "Republish CheerpJ versions to capture new Albanian translations"
The following translations were received Jan 2021 and the translator has requested we publish CheerpJ versions:

discharge-lamps-strings_sq.properties
efield-strings_sq.properties
electric-hockey-strings_sq.properties
forces-1d-strings_sq.properties
fourier-strings_sq.properties
ladybug-motion-2d-strings_sq.properties
maze-game-strings_sq.properties
microwaves-strings_sq.properties
motion-2d-strin

[2021-02-01 17:44] oliver-phet commented on #128
Here was the issue with information about the last redeploy we did to capture new translations: https://github.com/phetsims/decaf/issues/124

[2021-02-04 16:06] samreid commented on #128
Here are the changes since last deploy:

[code]

[2021-02-04 16:11] samreid commented on #128
From that list, here are the sims and translations that should be deployed:

[code]

[2021-02-04 16:42] samreid commented on #128
I checked in the translator credits to confirm that bound-states was correctly deployed.

[2021-02-04 16:44] samreid commented on #128
For Albanian, I confirmed the link is pointing to the JAR:

![image](https://user-images.githubusercontent.com/679486/106925744-9d667b00-66cd-11eb-98fb-99da515639af.png)

[2021-02-04 16:52] samreid commented on #128
I deployed discharge-lamps, and confirmed that sq is a working locale, but the website doesn't yet link to cheerpj for the sq locale.  I tried logging in to see if that would bypass the cache, but it still linked to the JAR.

[2021-02-04 16:58] samreid commented on #128
@mattpen said

[2021-02-04 17:46] mattpen commented on #128
It looks like deployDecaf.js failed to provide the "flavors" of the project in the `simulations` query parameter.  The request that was received by the website was `/services/deploy-cheerpj?project=discharge-lamps&version=1.0.0-dev.17&locales=am,ar,be,bs,da,de,el,es,es_MX,es_PE,et,eu,fa,fi,fr,gl,hr,hu,in,it,iw,ja,ka,kk,ko,ku_TR,lo,mk,mn,nb,nl,pl,pt,pt_BR,ru,sk,sq,sr,sv,th,tk,tr,uk,vi,zh_CN,zh_TW&s

[2021-02-04 19:43] samreid commented on #128
I closed that session and didn't save the output.  I can run it again later and see what happens.

[2021-02-04 22:30] samreid commented on #128
I was unable to get `chmod` to work under phet-admin, because it said permission denied, and I was unable to sudo as phet-admin.  So I did the chmod steps under my own account. It seemed like I was able to deploy discharge-lamps, but it still didn't appear on the webpage (even with a fake query parameter to disable cache).  I confirmed @mattpen's suspicion that the simulations list was incorrect.

[2021-02-05 00:09] samreid commented on #128
I ran into https://github.com/phetsims/decaf/issues/26 for sound.  Everything else spot tested OK.  @oliver-phet can you spot test 1-2 and email the client if appropriate?

[2021-02-05 00:10] samreid commented on #26
I ran into this in https://github.com/phetsims/decaf/issues/128, I'll remove it from the project list for now.

[2021-02-05 00:45] oliver-phet commented on #128
Looking good to me. I'll email the translator!

[2021-02-05 00:45] #128 closed

[2021-03-12 14:22] samreid opened #129 "On next deploy, investigate no-async-promise-executor"
In https://github.com/phetsims/perennial/issues/216 I disabled a lint rule.  But on next deploy, we should test changing that and see if we can get it to work without that.

[2021-03-12 22:18] chrisklus commented on #125
I just successfully deployed a dev version of moving-man [here](https://phet-dev.colorado.edu/decaf/moving-man/1.0.0-dev.16/moving-man.html). The process seems to be working great!

A couple suggestions:

When I tried step 3 after step 1, I got the following error:
[code]

Deleting the trunk and just running step 3 without step 1 seemed to work fine, so perhaps having both is redundant.

After the

[2021-03-30 17:25] samreid commented on #125
Thanks for testing this, I updated the documentation, closing.

[2021-03-30 17:25] #125 closed

[2021-06-01 14:20] samreid opened #130 "Investigate CheerpJ 2.2 to see if it has better performance or smaller download"
CheerpJ 2.2 was released today.  We would like to investigate CheerpJ 2.2 to see if it has better performance or smaller download.

[2021-06-01 14:20] samreid commented on #130
@kathy-phet said:

[2021-06-30 16:43] samreid commented on #130
I ran a local build of battery-resistor circuit using cheerpj 2.1 and 2.2 and observed the following:

2.1 BRC
time to sim display: 12.15sec, 10.59sec, 9.04sec, 9.08sec
25.1MB
262 requests
102MB resources

2.2 BRC
time to sim display: 9.04sec, 9.4sec, 9.1sec, 9.06sec
25.3MB
264 requests
104MB resources

I attribute the longer startup times for the first runs of 2.1 due to a "warm up" period.  I do

[2021-06-30 16:43] #130 closed

[2021-07-11 18:05] kathy-phet commented on #130
Thanks for taking a look, Sam! Agreed ... let's not upgrade.

[2021-09-22 22:43] KatieWoe opened #131 "Potential crashes on iPadOS 15"
With the new release of iPadOS 15 I noticed that some cheerpj sims would crash and reload the page very quickly. This continued to the point that the sim would only be up for a few seconds. Band Structures was one such sim. I checked the device running iPadOS 14, which is a similar, or even slightly older, device running 14.8.

[2021-09-23 15:38] KatieWoe commented on #131
I tethered the iPad, but did not see any console errors while the crashing was occurring.

[2021-09-23 18:57] Nancy-Salpepi commented on #131
I tried 7 cheerpj sims and they all crashed.

https://user-images.githubusercontent.com/87318828/134566473-ae93fff8-6621-4c12-9f1b-424102d7e1ad.mov

<img width="453" alt="Screen Shot 2021-09-23 at 2 54 43 PM" src="https://user-images.githubusercontent.com/87318828/134566994-1c25031e-4a15-4ae3-a6dd-b80b23efa3c5.png">

[2021-09-23 19:20] KatieWoe commented on #131
I tested the first seven. I only saw 4 crash, but the other 3 might have if I left them for long enough. It seemed the more complicated sims may crash more quickly.

[2021-09-24 17:00] samreid commented on #131
@kathy-phet said she would like to reach out to CheerpJ before we do any further investigation.

[2022-03-14 20:32] mattpen opened #132 "Deploying Translations"
Last week @KatieWoe deployed some translations for Java sims (capacitor-lab, faraday in az).  These were deployed successfully.
 She noticed that the [cheerpj version](https://phet.colorado.edu/sims/cheerpj/faraday/latest/faraday.html?simulation=generator&locale=az) did not have the translation.  We checked with @samreid in slack who pointed out that cheerpj has a separate translation publication

[2022-03-14 20:35] KatieWoe commented on #132
I'm ok with either. I will say that I've never done the cheerpj process, so if it is being incorporated manually I would need some training on it.

[2022-03-15 00:22] mattpen commented on #132
It looks like there was a problem with the latest batch, which would be good to fix before we proceed with publishing the next batch of cheerpj translations: https://github.com/phetsims/website/issues/1344.  I hope to get this fixed this week.

There was a change to the website that makes the untranslated Cheerpj sims much more visible since the last batch (Dec '21 I believe).  If it's feasible th

[2022-03-15 16:25] mattpen commented on #132
Here's a js snippet that will create a list of simulations and locales that are missing cheerpj translations.

[code]